.fl-asst {
	label[for=post_feature_image]
{
	text-align: center;
    float: left;
    width: 100%;
    display: block;
    padding: 10px;
    background: var(--fluid-box-background);
}

#post_feature_image{
	display: none;
}

#post_feature_img{
	cursor: pointer;
}

.fl-asst-remove-feature-img{
	float: right;
}

}

.media-modal{
	z-index: 9999999999;
}
