.fl-asst {
	.fl-asst-message {
	    flex: 0 0 auto;
	    display: inline-flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;
	    background: var(--fluid-box-background);
	    color: var(--fluid-box-color);
	    border-radius: var(--fluid-radius);
	    min-height: var(--fluid-target-size);
	    padding: 0 var(--fluid-med-space);
	    text-decoration: none;
	}
}
