.fluid {

    .fluid-form-section {
        padding: 10px 0 10px;

        .fluid-form-section-header {
            font-size: 16px;
            padding: 0 20px 10px;
        }
        .fluid-form-section-content {
            padding: 0 10px;
        }
    }

    .fluid-form-item {
        margin-bottom: 5px;
        min-height: 40px;
        border-radius: 5px;
        background: var(--fluid-opaque-13);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 10px;

        label {
            flex: 0 0 auto;
            padding: 0;
            padding-right: 20px;
            margin: 0;
            color: var(--fluid-opaque-6);
            margin-right: auto;
        }

        &:last-child {
            margin-bottom: 0;
        }

        input[type=checkbox] {
            border-radius: 3px;
            margin: 0;
            margin-left: 10px;

            &:checked {
                background: var(--fluid-blue);
            }
        }
    }

    .fluid-color-scheme-dark {
        .fluid-form-item {
            background: var(--fluid-opaque-3);
            color: var(--fluid-opaque-14);

            label {
                color: var(--fluid-opaque-11);
            }
        }
    }
}
