.fl-asst {
    .fl-asst-home-search-header {
        --box-size: 40px;
        --shadow-color: #EDF0F3;

        padding: var(--fluid-lg-space);

        &.fluid-sticky-element {
            background-color: transparent;
            background: linear-gradient( 180deg,
                                         hsla(210, 40%, 98%, 1 ),
                                         hsla(210, 40%, 98%, 1 ) 50%,
                                         hsla(210, 40%, 98%, 0 )
                                        ) !important;
        }

        .fl-asst-floating-element {
            background: var(--fluid-background);
            box-shadow: 0px 5px 10px var(--shadow-color);
            border-radius: 20px;
            min-height: var(--box-size);
            min-width: var(--box-size);
        }
        .fl-asst-inset-element {
            background: var(--fluid-transparent-12);
            border-radius: 20px;
            min-height: var(--box-size);
            min-width: var(--box-size);
        }

        .fl-asst-form-input {
            height: var(--box-size);

            input {
                padding-left: 0;

                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    opacity: .5;
                    font-weight: normal;
                    font-style: italic;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    opacity: .5;
                    font-weight: normal;
                    font-style: italic;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    opacity: .5;
                    font-weight: normal;
                    font-style: italic;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    opacity: .5;
                    font-weight: normal;
                    font-style: italic;
                }
            }

            &:focus-within {
                box-shadow: 0px 0px 0px 2px var(--fluid-accent),
                            0px 9px 18px var(--shadow-color);
            }
        }
        .search-icon-wrapper {
            flex: 0 0 var(--box-size);
            width: var(--box-size);
            height: var(--box-size);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .fluid-button.fl-asst-home-search-clear {
            margin: 2px;
            border-radius: 50%;

            &:focus {
                color: var(--fluid-primary-color);
                box-shadow: inset 0px 0px 0px 2px var(--fluid-background),
                            inset 0px 0px 0px 4px var(--fluid-accent);
            }
        }
        .fl-asst-button-row {

            & > * {
                margin-right: var(--fluid-med-space);
                &:last-child { margin-right: 0; }
            }
        }
    }
}
.fluid-color-scheme-dark {
    .fl-asst-home-search-header {
        &.fluid-sticky-element {
            // Matches --fluid-opaque-1 background on page
            background: linear-gradient( 180deg,
                                         hsla( var(--fluid-hue), 10%, 10%, 1 ),
                                         hsla( var(--fluid-hue), 10%, 10%, 1 ) 50%,
                                         hsla( var(--fluid-hue), 10%, 10%, 0 )
                                        ) !important;
        }
        .fl-asst-floating-element {
            box-shadow: none;
        }
        .fl-asst-inset-element {
            background: var(--fluid-transparent-2);
        }
        .fl-asst-form-input {
            &:focus-within {
                box-shadow: 0px 0px 0px 2px var(--fluid-accent);
            }
        }
    }
}
