.fl.uid {
    .fluid-button {
        box-sizing: border-box;
        flex: 0 0 auto;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: var(--fluid-box-background);
        color: var(--fluid-box-color);
        border-radius: var(--fluid-radius);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        min-height: var(--fluid-target-size);
        padding: 5px 8px;
        text-decoration: none;
        font-weight: normal;
        text-transform: none;
        transition-property: background, box-shadow;
        transition-duration: .15s;

        &:hover,
        &.is-hovering {
            text-decoration: none;
            background: var(--fluid-box-hover-background);
            color: var(--fluid-box-hover-color);
        }

        &:focus,
        &.is-focused {
            top:0;
            z-index: 2; // ensure box shadow doesn't get obscured
            outline: none;
            text-decoration: none;
            box-shadow: inset 0px 0px 0px 2px var(--fluid-background),
                        0px 0px 0px 1.5px var(--fluid-accent);
        }

        &:active,
        &.is-active {
            background: var(--fluid-light-3);
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
        }

        &.is-selected {
            background: var(--fluid-primary-background);
            color: var(--fluid-primary-color);
        }

        &.fluid-appearance-elevator {
            height: 45px;
            width: 45px;
            border-radius: 50%;
        }

        &.fluid-appearance-normal {
            background-color: var(--fluid-box-background);

            &:hover,
            &.is-hovering {
                background: var(--fluid-box-hover-background);
            }
        }

        &.fluid-appearance-transparent {
            background: transparent;
            box-shadow: none;
            border: none;
            outline: none;

            &:hover,
            &.is-hovering {
                background: var(--fluid-transparent-12);
            }

            &:focus,
            &.is-focused {
                box-shadow: inset 0px 0px 0px 2px var(--fluid-background),
                            0px 0px 0px 1.5px var(--fluid-accent);
            }
            &:active,
            &.is-active {
                background: var(--fluid-transparent-12);
                box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
            }
        }

        .fluid-button-icon {
            margin-right: .5em;
        }
    }
}

/* outside of .fl-asst on purpose */
.fl-asst-tooltip {
    font-family: sans-serif;
}
