.fl.uid {
    .fluid-button {
        box-sizing: border-box;
        flex: 0 0 auto;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: transparent;
        border-radius: var(--fluid-radius);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        min-height: var(--fluid-target-size);
        padding: 0 var(--fluid-med-space);
        text-decoration: none;
        font-weight: normal;

        &:hover,
        &.is-hovering {
            text-decoration: none;
            background: var(--fluid-box-hover-background);
            color: var(--fluid-box-color);
        }

        &:focus,
        &.is-focused {
            top:0;
            z-index: 2; // ensure box shadow doesn't get obscured
            outline: none;
            text-decoration: none;
            box-shadow: inset 0px 0px 0px 2px var(--fluid-background),
                        0px 0px 0px 2px var(--fluid-accent);
        }

        &.is-selected {
            background: var(--fluid-primary-background);
            color: var(--fluid-primary-color);
        }

        &.fluid-appearance-elevator {
            height: 45px;
            width: 45px;
            border-radius: 50%;
        }

        &.fluid-appearance-normal {
            background: var(--fluid-box-background);
        }

        &.fluid-appearance-transparent {
            background: transparent;
            box-shadow: none;
            border: none;
            outline: none;

            &:hover,
            &.is-hovering {
                background: var(--fluid-box-hover-background);
            }

            &:focus,
            &.is-focused {
                box-shadow: inset 0px 0px 0px 2px var(--fluid-background),
                            0px 0px 0px 2px var(--fluid-accent);
            }
        }
    }
}

/* outside of .fl-asst on purpose */
.fl-asst-tooltip {
    font-family: sans-serif;
}
