.fl-asst {

	.fl-asst-tag-group-suggest {
		width: 100%;

		.fl-asst-tag-group {
			cursor: text;
	    }

	    .fl-asst-tag {
			cursor: pointer;
		}

		input[type="text"] {
		    flex: none;
			display: inline-block;
			margin: var(--fl-asst-tiny-space);
			max-width: 100%;
			width: auto;
		}
	}

	.fl-asst-tag-group-suggest-menu {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 100;
		max-height: 150px;
	    overflow: scroll;
		padding: var(--fl-asst-tiny-space);
		background: var(--fl-asst-surface-background);
		border-radius: var(--fl-asst-base-radius);
		box-shadow: 0 0 10px rgba(0, 0, 0, .20);
	}

	.fl-asst-tag-group-suggest-item {
		cursor: pointer;
		padding: var(--fl-asst-tiny-space);
		border-radius: var(--fl-asst-base-radius);

		&:hover {
			background: var(--fl-asst-secondary-surface-background);
		}
	}
}
