.fl-asst {
    .fl-asst-card {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--fluid-med-space);

        .fl-asst-card-title {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            min-height: var(--fluid-target-size);
            cursor: move;

            .fl-asst-card-title-text {
                flex: 0 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                box-shadow: inset 0 -2px 0 var(--fluid-color);
                margin-right: var(--fluid-med-space);
                pointer-events: none;

                svg {
                    margin-right: var(--fluid-med-space);
                }
            }
            .fl-asst-card-title-actions {
                flex: 0 0 auto;
                display: none;
                flex-direction: row;
                align-items: center;
                margin-left: auto;
            }
        }

        &.fl-asst-card-is-editing {
            background: var(--fluid-background);
            border-radius: var(--fluid-radius);
            margin-bottom: var(--fluid-sm-space);

            .fl-asst-card-title {
                min-height: 40px;
                cursor: move;
            }
            .fl-asst-card-title-actions {
                display: flex;
            }
            .fl-asst-card-title-text {
                box-shadow: none;
                padding-left: var(--fluid-med-space);
            }
            .fl-asst-card-content {
                box-shadow: none;
                background: transparent;
                border-radius: 0;
                display: none;
            }
        }

        &:hover {
            .fl-asst-card-title-actions {
                display: flex;
            }
        }

        .fl-asst-card-content {
            background: var(--fluid-background);
            border-radius: var(--fluid-radius);
            border-top-left-radius: 0;
            box-shadow: 0 6px 12px rgba( 0, 0, 0, .03 );
            padding: var(--fluid-lg-space);

            & > *:first-child { margin-top: 0; }
            & > *:last-child { margin-bottom: 0; }
        }
    }

    .is-dragging .fl-asst-card {
        pointer-events: none;
    }
}
