.animator {
    --duration: 500ms;
    &.fade-enter {
      z-index: 1;
      transform: translateX(100%) translateY(-100%);
      transition-property: transform;
      transition-duration: 500ms;
    }

    &.fade-enter.fade-enter-active {
      transition: transform 500ms ease-in;
      transform: translateX(0%) translateY(0%);
    }

    *.fade-exit {
        z-index: 1;
        transform: translateX(100%);
        transition-property: transform;
        transition-duration: 500ms;
    }
}
