.fluid {
    .fluid-button.fl-asst-connect-button {
		--fluid-accent: var(--fl-brand-red);
        background-color: var(--fl-brand-red);
        color: white;
        padding: 0 30px !important;
        transition-property: none;

        &:hover {
			color: white;
			background-color: var(--fl-brand-red);
			filter: brightness(.9);
            transform: scale(1); // cancel out scaling effect
        }
		&:focus {
			color: white;
			background-color: var(--fl-brand-red);
			transform: scale(1); // cancel out scaling effect
		}
    }
}
