.fl-asst {
    .fl-asst-tile-grid {
        display: grid;
        grid-template-columns: repeat( 3, 1fr );
        grid-gap: var(--fluid-med-space);
        grid-auto-rows: 100px;

        & > *,
        & > *.fluid-button {
            background: var(--fluid-background);
            padding: var(--fluid-med-space);
            border-radius: var(--fluid-radius);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}
