.fl-asst-panel-frame {

    &.display-enter {
        transform: translateX(100%);

        &.display-enter-active {
            transform: translateX(0%);
            transition: transform 200ms ease-in;
        }
    }
    &.display-leave {
        transform: translateX(0%);
        transition: transform 200ms ease-in;

        &.display-leave-active {
            transform: translateX(100%);
        }
    }
}
