.fl-asst {
    .fl-asst-sidebar {
        flex: 0 0 60px;
        background: var(--fluid-background);
        border-right: 2px solid var(--fluid-line-color);
        display: flex;
        flex-direction: column;

        .fl-asst-wordpress-btn {
            position: fixed;
            top:0;
            left:0;
            width: 53px;
            z-index: 9999;
            padding: 5px;
            margin: 7px;
            margin-left: 0;
            background: var(--fluid-dark-background);
            color: white;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            svg {
                height: 24px;
                width: 24px;
            }

            &:hover {
                background: var(--fluid-dark-background);
                color: white;
            }
            &:focus {
                background: var(--fluid-dark-background);
                color: white;
            }
        }

        .fl-asst-sidebar-apps {
            margin: auto 0;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: stretch;
            }
            li {
                display: flex;
            }

            .fl-asst-sidebar-button {
                flex: 1 1 auto;
                margin: 5px;
                height: 50px;
            }
        }
    }
}
