<phpunit
        bootstrap="backend/tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">backend/tests/Unit/</directory>
        </testsuite>
        <testsuite name="rest-api">
            <directory suffix="Test.php">backend/tests/Rest/</directory>
        </testsuite>
    </testsuites>
</phpunit>
