<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./tests/Unit/</directory>
        </testsuite>
        <testsuite name="Rest API Integration Tests">
            <directory suffix="Test.php">./tests/Rest/</directory>
        </testsuite>
    </testsuites>
</phpunit>
