.fl-asst-panel-frame {
    z-index: 99999;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-left: 1px solid var(--fl-line-color);
}

.fl-asst-panel-chrome {
    flex: 0 0 44px;
    display:flex;
    flex-direction: row;
    padding: 0 8px;
    position: relative;

    .fl-asst-panel-chrome-area {
        flex: 1 1 50%;
        display: flex;
        flex-direction: row;

        &:last-child {
            justify-content: flex-end;
        }
    }
}
.fl-asst-app-tabs-wrap {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fl-asst-app-tabs-area {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: auto;
}
.fl-asst-screen-header {
    background: var(--fl-utility-background-color);
    padding: 10px 0 20px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 3px;
    -webkit-user-select: none;
    user-select: none;

    .fl-asst-screen-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        padding: 0 20px;
        line-height: 1;
        color: var(--fl-title-color);
        display: flex;
        flex-direction: row;
        align-items: center;

        .fl-asst-button-back {
            margin:0;
            width: 45px;
        }

        &:last-child {
            margin-bottom:0px;
        }

        &.has-back-button {
            padding-left:0;
        }
    }

    .fl-asst-screen-header-contents {
        padding: 0 20px;
    }

    .fl-asst-expanded-contents-wrap {
        margin: 0 -2px;
        padding: 0 2px;
    }

    .fl-asst-expanded-contents-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        bottom:0;
        left:0;
        right:0;
    }
}

.fl-asst-screen-footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top: auto;
    padding-top: 44px;
    background-color: transparent;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.0) 0%, #FFFFFF 50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    pointer-events: none;

    .fl-asst-screen-footer-content {
        flex: 0 0 44px;
        display: flex;
        flex-direction: row;
        padding: 0 20px;
        align-items: center;
        pointer-events: auto;
    }
}

.fl-asst-button.fl-asst-more-button {
    background-color: transparent;
    color: black;
    stroke: var(--fl-asst-base-art-color);
    padding: 4px;

    &:hover {
        color:black;
        background-color: #E3E9EB;
    }

    &:focus {
        border-color: transparent;
        stroke: var(--fl-accent-color);
    }
}

.fl-asst-empty-message {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 100px 20px;
    flex: 1 1 auto;
    font-size: 1.2em;
}
