.fl-asst-screen-header {
    background: var(--fl-utility-background-color);
    padding: var(--fl-asst-base-padding) 0;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 3px;
    -webkit-user-select: none;
    user-select: none;

    .fl-asst-screen-title {
        font-size: 20px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: calc( var(--fl-asst-base-padding) / 2 );
        padding: 0 var(--fl-asst-base-padding);
        line-height: 1;
        color: var(--fl-title-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 36px;

        .fl-asst-button-back {
            margin:0;
            flex: 0 0 45px;
        }

        .fl-asst-screen-title-text {
            flex: 1 1 auto;
            overflow: hidden;
    		text-overflow: ellipsis;
    		white-space: nowrap;
        }

        &:last-child {
            margin-bottom:0px;
        }

        &.has-back-button {
            padding-left:0;
        }
    }

    .fl-asst-screen-header-contents {
        padding: 0 var(--fl-asst-base-padding);
    }

    .fl-asst-expanded-contents-wrap {
        margin: 0 -2px;
        padding: 0 2px;
    }

    .fl-asst-expanded-contents-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        bottom:0;
        left:0;
        right:0;
    }
}

.fl-asst-screen-footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top: auto;
    padding-top: 44px;
    background-color: transparent;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.0) 0%, #FFFFFF 50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    pointer-events: none;

    .fl-asst-screen-footer-content {
        flex: 0 0 44px;
        display: flex;
        flex-direction: row;
        padding: 0 var(--fl-asst-base-padding);
        align-items: center;
        pointer-events: auto;
    }
}

.fl-asst-button.fl-asst-more-button {
    background-color: transparent;
    color: black;
    stroke: var(--fl-asst-base-art-color);
    padding: 4px;

    &:hover {
        color:black;
        background-color: #E3E9EB;
    }

    &:focus {
        border-color: transparent;
        stroke: var(--fl-accent-color);
    }
}

.fl-asst-empty-message {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 100px 20px;
    flex: 1 1 auto;
    font-size: 1.2em;
}

.fl-asst-screen-title {
    margin: var(--fl-asst-base-padding) 0 0;
    display: flex;
    flex-direction: row;
    min-height: 40px;
    user-select: none;

    .fl-asst-screen-title-text {
        flex: 0 0 auto;
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: 18px;
        font-weight: 700;
        padding: 2px calc( var(--fl-asst-base-padding) / 2 );
        padding-left: var(--fl-asst-base-padding);
        color: var(--fl-asst-light-color);
        background-color: var(--fl-asst-dark-color);
    }

    .fl-asst-screen-title-actions {
        flex: 0 0 auto;
        display: flex;
        margin-left: auto;
        padding-right: var(--fl-asst-base-padding);

        :first-child {
            margin-left: 0;
        }
        :last-child {
            margin-right: 0;
        }
    }
}
