.fl-asst-panel-frame {
    z-index: 999999;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-left: 1px solid var(--fl-line-color);
}

.fl-asst-panel-chrome {
    flex: 0 0 44px;
    display:flex;
    flex-direction: row;
    padding: 0 8px;
}
.fl-asst-app-tabs-area {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fl-asst-screen-header {
    background: var(--fl-utility-background-color);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .fl-asst-screen-title {
        font-size: 18px;
        font-weight: 500;
        color: black;
    }
}
