.fl-asst-stack {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 330px;
    overflow: hidden;

    .fl-asst-stack-view {
        flex: 1 1 auto;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: contain;
        display: flex;
        flex-direction: column;

    }
}
