.fl-asst {
    .fl-asst-screen {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        min-height: 0;

        &.fl-asst-screen-card {
            background: var(--fl-asst-surface-background);
            color: var(--fl-asst-surface-color);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;

            position: absolute;
            bottom:0;
            top:0;
            width: 100%;
            box-shadow: 0 0 40px rgba(0,0,0,.2);
            transform-origin: top center;
            overflow: auto;

            &:first-child {
                position: static;
                box-shadow: none;
            }
        }
    }
}

.fl-asst-app-header {
    box-sizing: border-box;
    flex: 0 0 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--fl-asst-outer-space);
    margin: var(--fl-asst-tiny-space) 0;
    -webkit-user-select: none;
    user-select: none;

    .fl-asst-app-header-icon {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        padding-right: var(--fl-asst-small-space);
        color: var(--fl-asst-accent-color);
        width: 38px;
    }

    .fl-asst-app-header-name {
        flex: 1 1 auto;
        font-size: 22px;
        font-weight: 600;
        display: flex;
        flex-direction: column;

        .fl-asst-app-header-name-description {
            font-size: 12px;
            font-weight: normal;
            text-transform: capitalize;
        }
    }

    .fl-asst-app-header-actions {
        flex: 0 0 auto;
        margin-left: auto;
        display: flex;
        flex-direction: row;

        a {
            text-decoration: none;
        }
    }
}

.fl-asst-screen-content {
    box-sizing: border-box;
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
}

.app-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--fl-asst-inner-space) var(--fl-asst-tiny-space);
    padding-top: var(--fl-asst-outer-space);

    .app-grid-item {
        flex: 0 0 33.3%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        padding: var(--fl-asst-inner-space);
        border-radius: var(--fl-asst-base-radius);

        &:focus {
            outline: none;

            .fl-asst-app-icon {
                box-shadow: inset 0px 0px 0px 2px var(--fl-asst-surface-background),
                            0px 0px 0px 2px var(--fl-asst-accent-color);
            }
        }

        .fl-asst-app-icon {
            width: 50px;
            height: 50px;
            border-radius: 7px;
            background-color: #16191c;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        label {
            font-size: 12px;
            margin-top: 5px;
            margin-bottom:0;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }
}

@supports( display: grid ) {
    .app-grid {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
        grid-gap: 10px;
        align-items: center;

        .app-grid-item {
            margin:0;
        }
    }
}


.remove-btn {
  margin-right: 0.5rem;
}


.fl-asst-transition-group {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
}


.PUSH-enter {
    transform: translateX(100%);
}
.PUSH-enter-active {
    transition: transform 200ms ease-in;
    transform: translateX(0%);
}
.PUSH-exit {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    transform: translateX(0%);
}
.PUSH-exit-active {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    transition: transform 200ms ease-in;
    transform: translateX(-100%);
}

.POP-enter {

    transform: translateX(-100%);
}
.POP-enter-active {

    transition: transform 200ms ease-in;
    transform: translateX(0%);
}
.POP-exit {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    transform: translateX(0%);
}
.POP-exit-active {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    transition: transform 200ms ease-in;
    transform: translateX(-100%);
}
