.fl-asst {

    .fl-asst-currently-viewing-summary {

        .fl-asst-pretitle {
            font-size: 12px;
            margin-bottom: 3px;
        }
        .fl-asst-title {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .fl-asst-app-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .fl-asst-app-grid-item {
            flex: 0 0 33.3%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-decoration: none;
            padding: var(--fl-asst-small-space);
            border-radius: var(--fl-asst-base-radius);

            &:focus {
                outline: none;
                box-shadow: none;

                .fl-asst-app-icon {
                    overflow: hidden;
                    box-shadow: inset 0px 0px 0px 2px var(--fl-asst-surface-background),
                                0px 0px 0px 2px var(--fl-asst-accent-color);
                }
            }

            .fl-asst-app-icon {
                width: 50px;
                height: 50px;
                border-radius: 7px;
                background-color: #16191c;
                color:white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            label {
                font-size: 12px;
                margin-top: 5px;
                margin-bottom:0;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }
        }
    }

    .fl-asst-window-normal .fl-asst-app-grid .fl-asst-app-grid-item .fl-asst-app-icon {
        width: 60px;
        height: 60px;
    }
}

@supports( display: grid ) {
    .fl-asst-app-grid {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(110px, 1fr) );
        grid-gap: 10px;
        align-items: center;

        .fl-asst-app-grid-item {
            margin:0;
        }
    }
}
