.fl-asst {

    .fl-asst-currently-viewing-summary {

        .fl-asst-pretitle {
            font-size: 12px;
            margin-bottom: 3px;
        }
        .fl-asst-title {
            font-size: 16px;
            font-weight: 600;
        }
    }
}
