.fl-asst {
    .fl-asst-search-results-card {
        .fl-asst-list-item {
            border-bottom: none;
        }
        .fl-asst-list-item-content-info {
            padding: 10px 0;

            .fl-asst-list-item-title {
                font-weight: normal;
            }
        }
        padding-bottom: 20px;
    }
}
