.fl-asst {
    #cards {
        --page-background: #F8FAFC;
        .fluid-page-header {
            padding: 0;
        }
        .fluid-page-content {
            background: var(--page-background);
        }

        // Card Box
        --shadow-color: #EDF0F3;

        .fl-asst-floating-box {
            background: var(--fluid-background);
            box-shadow: 0px 9px 18px var(--shadow-color);
            padding: 20px;
        }
        .fl-asst-home-search-item {
            background: var(--fluid-background);
            box-shadow: 0px 9px 18px var(--shadow-color);
        }
    }

    .fluid-color-scheme-dark {
        #cards {
            --page-background: #0B0D0F;
            --shadow-color: transparent;
        }
    }
}
