.fl-asst-button {
    display: inline-flex;
    flex-direction: row;
    border: 2px solid transparent;
    background: transparent;
    color: var(--fl-text-color);
    line-height: 1.2;
    padding: 7px 10px;
    font-family: var(--fl-asst-base-font-family);
    font-size: var(--fl-asst-base-text-size);
    font-weight: normal;
    line-height: 1.2;
    user-select: none;

    &:hover {
        top:0;
        border: 2px solid transparent;
        background: #E7EBEF;
        color: var(--fl-text-color);
    }
    &:focus {
        top:0;
        border: 2px solid var(--fl-accent-color);
        background: #E7EBEF;
        color: var(--fl-text-color);
        outline: none;
    }
    &.fl-asst-button-is-selected {
        color: var(--fl-accent-color);
        border-color: var(--fl-accent-color);

        & > svg {
            color: var(--fl-accent-color);
        }
    }

    &.fl-asst-outline-button {
        background:white;
        color: var(--fl-accent-color);
        border-color: var(--fl-accent-color);

        &:focus {
            background: var(--fl-accent-color);
            color: white;
        }
    }

    & > svg {
        color: var(--fl-asst-base-art-color);
    }
}


.fl-asst-tab {
    flex: 1 1 auto;

    &[hidden] {
        display: none;
    }
}

.fl-asst-button.fl-asst-app-tab-button {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 7px 12px;

    &:hover {
        border: none;
        border-bottom: 2px solid transparent;
    }

    &:focus {
        border: none;
        border-bottom: 2px solid transparent;
    }

    &.fl-asst-button-is-selected {
        border-bottom-color: var(--fl-accent-color);
    }
}
