.fl-asst-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 2px;
    background: var(--fl-utility-background-color);
    color: var(--fl-text-color);
    line-height: 1.2;
    padding: 7px 10px;
    margin: 0 5px;
    font-family: var(--fl-asst-base-font-family);
    font-size: var(--fl-asst-base-text-size);
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    line-height: 1.2;
    user-select: none;

    &:hover {
        top:0;
        border: 2px solid transparent;
        background: #E7EBEF;
        color: var(--fl-text-color);
    }
    &:focus {
        top:0;
        border: 2px solid var(--fl-accent-color);
        background: #E7EBEF;
        color: var(--fl-text-color);
        outline: none;
        box-shadow: none;
    }
    &.fl-asst-button-is-selected {
        color: var(--fl-accent-color);
        border-color: var(--fl-accent-color);

        & > svg {
            color: var(--fl-accent-color);
        }
    }

    &.fl-asst-button-transparent {
        background: transparent;
    }

    &.fl-asst-button-icon {
        margin:0;
        padding: 0;
        min-width: 38px;
        min-height: 38px;

        &:hover svg {
            color: var(--fl-accent-color);
        }
    }

    &.fl-asst-outline-button {
        background:white;
        color: var(--fl-accent-color);
        border-color: var(--fl-accent-color);

        &:focus {
            background: var(--fl-accent-color);
            color: white;
        }
    }

    & > svg {
        color: var(--fl-asst-base-art-color);
    }
}

.fl-asst-button {
    &.fl-asst-app-tab-button {
        border-radius: 0;
        border: none;
        background: transparent;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        padding: 7px 10px;

        &:hover {
            border: none;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
        }

        &:focus {
            border: none;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            background: var(--fl-utility-background-color);
        }

        &.fl-asst-button-is-selected {
            border-bottom-color: var(--fl-accent-color);
        }
    }
}
