.fluid {
	.fluid-filter {

		--border-color: var(--fluid-opaque-10);
		background: var(--fluid-opaque-13);
		flex: 0 0 auto;
		margin: 0;
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax( 100px, 1fr ) );
		grid-auto-rows: 46px;
		grid-gap: 1px;
		border-color: var(--border-color);
		border-style: solid;
		border-width: 1px 0;

		li {
			display: flex;
			flex-direction: row;
			box-shadow: 0 0 0 1px var(--border-color);
		}
	}
}
