.fl-asst {

	.fl-asst-new-term-form {
		padding-top: var(--fl-asst-small-space);
		width: 100%;

		button {
			width: 100%;
		}

		input, select {
			margin-bottom: var(--fl-asst-small-space);
		}
	}
}
