.fl-asst-library-add-post-results {
	border-bottom: 2px solid var(--fluid-line-color);
	margin-bottom: var(--fluid-lg-space);

	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}

	ul {

		li {
			cursor: pointer;
			display: flex;
			padding: var(--fluid-med-space);

			a {
				margin-left: auto;

				svg {
					width: 15px;
					height: 15px;
				}
			}

			&:hover {
				background: var(--fluid-box-hover-background);
				border-radius: var(--fluid-radius);
			}
		}
	}
}
