.fl-asst {
    #cards {
        .fluid-page-header {
            padding: 0;
        }
        .fluid-page-content {
            background: var(--fluid-box-background);
        }
        .fluid-top-content {
            background: var(--fluid-background);
        }
    }
}
