.fl-asst {

    .fl-asst-values-table {
        color: var(--fl-asst-secondary-surface-color);
        background: var(--fl-asst-secondary-surface-background);
        margin: 0;
        font-size: 12px;

        td {
            padding: 3px var(--fl-asst-small-space);
            border-color: var(--fl-asst-surface-background);
        }
    }
}
