.fl-asst {
    .fl-asst-card.fl-asst-recent-content-card {

        .fl-asst-card-content {
            min-height: 242px; // Add 10px to the bottom
            padding-bottom: 10px;
        }

        .fl-asst-list {
            padding: 0 var(--fluid-med-space);
        }

        // A hack to remove the bottom 100px bumper at the end of scrolling list
        .fl-asst-list-scroller {
            overflow:visible; // fix first item's extras getting cut off

            .fl-asst-list ~ div {
                display: none;
            }
        }

        .fl-asst-list-item {
            border-bottom: none;
            border-radius: 5px;

            &:focus,
            &:focus-within,
            &.fl-asst-is-trashed,
            &.fl-asst-is-transitioning,
            &.fl-asst-list-item-alert,
            &.fl-asst-list-item-destructive {
                box-shadow: none;
            }

            .fl-asst-list-item-content-info {
                padding: 10px 0;

                .fl-asst-list-item-default-content-row {
                    padding: 0 var(--fluid-med-space);
                }
            }
            .fl-asst-list-item-title {
                font-weight: normal;
                font-size: 13px;
            }
            .fl-asst-list-item-thumbnail {
                margin-right: 10px;
            }

            &.fl-asst-is-current-page {
                box-shadow: none;
            }
            .fl-asst-item-extras {
                top: -40px;
            }
            .fl-asst-list-item-marks {
                height: 17px;
            }
        }
    }
}
