.fl-app-cloud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;

    .center-text {
        text-align: center;
    }

    h1 {
        color: inherit;
        line-height: 1.4;
    }
}
