.fl.uid {

    @mixin flex_column {
        box-sizing: border-box;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        min-height:0;
        max-height:100%;
    }

    .fluid-scroller {
        @include flex_column;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .fluid-pad {
        @include flex_column;
        padding: var(--fluid-lg-space);
    }
    .fluid-pad-x {
        padding-left: var(--fluid-lg-space);
        padding-right: var(--fluid-lg-space);
    }
    .fluid-pad-y {
        padding-top: var(--fluid-lg-space);
        padding-bottom: var(--fluid-lg-space);
    }

    .fluid-page {
        --fluid-top-inset: 0px;

        position: relative;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        background-color: var(--fluid-background);
        color: var(--fluid-color);
        max-height: 100%;
        min-height: 0;

        .fluid-sticky-element {
            // Yea, all this for sticky headers
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            top: var(--fluid-top-inset);
            background: var(--fluid-background);
            z-index: 9;
        }

        .fluid-page-actions {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .fluid-page-toolbar-content {
            position:static;
            padding: 0 var(--fluid-med-space);
            padding-left: 2px;
            flex: 1 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .fluid-page-title-icon {
            flex: 0 0 auto;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .fluid-page-headline {
            font-size: 24px;
            font-weight: 600;
        }

        .fluid-page-content {
            box-sizing: border-box;
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            background: var(--fluid-background);
            z-index: 1;
        }
    }
    .fluid-page-footer {
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        box-sizing: border-box;
        min-height: 55px;
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        background: var(--fluid-background);
        border-top: 2px solid var(--fluid-box-background);
        z-index: 9;

        & > .fluid-button {
            margin-right: var(--fluid-sm-space);

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    .fluid-page-overlay {
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        pointer-events: none;
    }
}
