.fl-asst-tabs {
    display: flex;
    flex-direction: row;

    .fl-asst-tab-list {
        flex: 0 0 auto;
        min-width: 140px;
        padding: 5px 0;

        ul {
            list-style: none;
            margin:0;
            padding:0;
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                flex-direction: row;
                padding: 2px 0;

                &:first-child {
                    padding-top:0;
                }

                &:last-child {
                    padding-bottom:0;
                }

                button {
                    flex: 1 1 auto;
                    margin:0;
                    background: transparent;
                    font-size: 15px;
                    font-weight: 500;
                    border-radius: 8px;
                    justify-content: flex-start;
                    padding: 2px calc( var(--fl-asst-base-padding) / 2 );
                    min-height: 36px;
                    border: 2px solid transparent;

                    &:focus {
                        border-color: var(--fl-asst-base-art-color);
                    }

                    &.fl-asst-button-is-selected {
                        background: var(--fl-utility-background-color);
                        border-color: transparent;
                        box-shadow: 0px 1px 2px rgba( 0, 0, 0, .25);
                        color: var(--fl-text-color);

                        .fl-asst-tab-item-icon {
                            color: var(--fl-accent-color);
                        }

                        &:focus {
                            border-color: var(--fl-accent-color);
                        }
                    }

                    .fl-asst-tab-item-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-top: 1px;
                        margin-right: 10px;
                        width: 26px;
                    }
                }
            }
        }
    }
    .fl-asst-tab-content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 0 var(--fl-asst-base-padding);

        & > :first-child {
            margin-top:0;
        }
    }

    &.fl-asst-tabs-above {
        flex-direction: column;

        .fl-asst-tab-content {
            padding:0;
        }
    }
}
