.fl-asst {
    .fl-asst-recent-media-display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 6px;
        padding:4px var(--fl-asst-inner-space) var(--fl-asst-outer-space);

        a {
            border-radius: 0;

            &:focus {
                outline: none;

                img {
                    border-radius: 5px;
                    box-shadow: 0px 0px 0px 2px var(--fl-asst-surface-background),
                                0px 0px 0px 4px var(--fl-asst-accent-color);
                }
            }
        }
    }
}
