.fl-asst {
    .fl-asst-recent-media-display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 6px;
        padding: 4px var(--fluid-med-space) var(--fluid-lg-space);

        a {
            border-radius: 0;

            &:focus {
                outline: none;

                img {
                    border-radius: 5px;
                    box-shadow: 0px 0px 0px 2px var(--fluid-background),
								0px 0px 0px 4px var(--fluid-accent);
                }
            }
        }
    }

    .fl-asst-list.fl-asst-grid-list {

        --spacing: 10px;
        display: grid;
        grid-gap: var(--spacing);
        grid-template-columns: repeat(2, 1fr);
        padding: var(--spacing);

        .fl-asst-grid-list-item {
            width: 100%;
            border: none;
            border-radius: var(--fluid-radius);
            overflow: hidden;

            &:focus {
                box-shadow: 0px 0px 0px 2px var(--fluid-background),
                            0px 0px 0px 4px var(--fluid-accent);
            }

            img {
                width: 100%;
            }
        }
    }
}
