$prefix: fl-asst-users-avatar-bar;

.#{$prefix}-title {
  font-weight: bold;
}
.#{$prefix}-users {
  display: flex;

  .#{$prefix}-avatar {
    width: 75px;
    border-radius: 50%;
    img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
    }

    .username {
      text-align: center;
      width: 100%;
    }
  }
}

.fl-asst-avatar-button {
  border-radius: 15px !important;
  max-height: 30px !important;
}
