.fl-asst-users-profile {

  .title {
    font-weight: bold;
  }

  .actions {
    margin-top: var(--fl-asst-inner-space);
  }

  .card {
    .avatar-row {
      display: inline-flex;

      .avatar {
        img {
          border-radius: 50%;

          border: 2px solid var(--fl-asst-dim-text);
        }
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: var(--fl-asst-inner-space);

        .username {
          font-size: 20px;
          font-weight: bold;
        }

        .email {
          font-style: italic;
        }
      }
    }
  }
}
