.fl-asst {
    .fl-asst-form-input {
        padding: 0 !important;
        display: flex !important;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        color: var(--fluid-color);
        box-shadow: 0 0 0 2px var(--fluid-box-background);

        &.fl-asst-appearance-transparent {
            background: transparent;
            border: none;
            margin: 0;
            box-shadow: none;

            &:hover {
                background-color: var(--fluid-box-background);
            }

            &:focus-within {
                background-color: var(--fluid-box-background);
                border: none;
                outline: none;
                box-shadow: inset 0px 0px 0px 2px var(--fluid-background),
                            0px 0px 0px 2px var(--fluid-accent);
            }

            & > *:not( input ) {
                display: inline-flex;
                flex-grow: 0;
                flex-shrink: 0;
            }

            .fluid-button {
                background: transparent;
                border-radius: 0;

                &:focus {
                    background: var(--fluid-primary-background);
                    color: var(--fluid-primary-color);
                }
            }
        }

        input {
            box-shadow: none;
            border: none;
            background: transparent;
            border-radius: 0;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: normal;
            color: inherit;
            display: inline-flex;
            flex: 1 1 auto;
            min-height: var(--fluid-target-size);
            width: auto;
            padding: var(--fluid-sm-space);

            &:focus {
                box-shadow: none;
                border: none;
                outline: none;
            }

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: currentColor;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: currentColor;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: currentColor;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: currentColor;
            }
        }
    }
}
