/* Pending List Item */
.fl-asst-list-item.fl-asst-comment-pending {
	background: var(--fl-utility-background-color);
}
.fl-asst-comment-pending-icon {
    line-height: 0;
	display: flex;
	position: absolute;
	left: 12px;
	height: 100%;
	width: 5px;
}

/* Detail View */
.fl-asst-comment-detail {

	.fl-asst-comment-actions {

		.fl-asst-button.is-warning {
			margin-left: auto;
			margin-right: 0;
		}
	}

	.fl-asst-comment-content-title {
		font-size: 20px;
		font-weight: 600;
	}

	.fl-asst-comment-content-actions {

		.fl-asst-button {
			margin-bottom: 0;
		}

		.fl-asst-button:first-child {
			margin-left: auto;
		}

		.fl-asst-button:last-child {
			margin-right: 0;
		}
	}

	.fl-asst-comment-form {

		button.fl-asst-button:first-of-type {
			margin-left: 0;
		}
	}
}
