.fl-asst {

	/* Still used */
	.fl-asst-button-loading {
		svg {
			margin-left: 8px;
		}
	}

	/* TwentyTwenty Theme Fix - Cause they've lost their minds. */
	.fluid-button {
		background: var(--background);
		color: var(--color);

		&:hover {
			background-color: var(--hover);
			color: var(--hover-color);
		}
		&.is-selected {
			background-color: var(--fluid-opaque-4);
			color: var(--fluid-opaque-14);

			&:hover {
				filter: brightness( 125% );
			}
		}
	}
}
