.fl-asst {

    .fl-asst-button-group {
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: row;
	    flex-wrap: wrap;
        background: var(--fl-asst-secondary-surface-background);
        color: var(--fl-asst-secondary-surface-color);
        border-radius: var(--fl-asst-base-radius);
        padding: 3px;
        min-height: calc( var(--fl-asst-target-size) + 6px );
        max-width:100%;
        overflow-x: hidden; // Firefox flips out with auto.

        &.fl-asst-button-group-row {
            align-self: center; // will center self within flex columns
            justify-content: flex-start;
        }
        &.fl-asst-button-group-column {
            flex-direction: column;
        }

        &.fl-asst-button-group-appearance-normal {
            .fluid-button {
                background: transparent;
                border-radius: 4px;
                z-index:1;
                white-space: nowrap;

                &.fl-asst-is-selected {
                    background: var(--fl-asst-surface-background);
                    color: var(--fl-asst-surface-color);
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);

                    &:focus {
                        box-shadow: inset 0px 0px 0px 2px var(--fl-asst-secondary-surface-background),
                                    0px 0px 0px 2px var(--fl-asst-accent-color);
                    }
                }
            }
        }

        &.fl-asst-button-group-appearance-buttons {
            background: transparent;
            padding: 2px;
            min-height: var(--fl-asst-target-size);

            .fluid-button {
                margin-right: var(--fl-asst-tiny-space);
				margin-bottom: var(--fl-asst-tiny-space);

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &.fl-asst-button-group-appearance-tabs {
            flex: 1 1 auto;
            background: transparent;
            padding: 0px;
            min-height: var(--fl-asst-target-size);
            border-radius: 0;
            overflow: auto;
            justify-content: center;
            align-self: stretch;
            padding: 2px;

            .fluid-button {
                margin: 0;
                background: transparent;
                border: none;
                margin-right: var(--fluid-sm-space);

                &:hover {
                    background: var(--fluid-box-hover-background);
                }

                &.is-selected {
                    color: var(--fluid-primary-color);
                    background: var(--fluid-primary-background);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

                    &:hover {
                        background: var(--fluid-primary-hover-background);
                    }

                    &:focus {
                        box-shadow: inset 0px 0px 0px 2px var(--fluid-background),
                                    0px 0px 0px 2px var(--fluid-accent),
                                    0px 4px 4px 0px rgba(0, 0, 0, 0.1);
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                // See Nav.Tabs
                &.fluid-button.fl-asst-more-btn {
                    margin-left:auto;
                }
            }
        }

        .fl-asst-vertical-divider {
            flex: 0 0 auto;
            margin: var(--fl-asst-tiny-space) 0;
            background: var(--fl-asst-surface-background);
        }
        .fl-asst-horizontal-divider {
            flex: 0 0 auto;
            margin: 0 var(--fl-asst-tiny-space);
            background: var(--fl-asst-surface-background);
        }
        .fl-asst-is-selected + .fl-asst-divider {
            visibility: hidden;
        }

        &.fl-asst-button-group-appearance-grid {
            background: transparent;
            flex: 1 1 auto;
            display: grid;
            grid-gap: var(--fl-asst-tiny-space);
            grid-template-columns: 1fr 1fr;
            margin: -3px;
        }
    }

    .fl-asst-more-menu {
        background: var(--fl-asst-secondary-surface-background);
        color: var(--fl-asst-secondary-surface-color);
        border-radius: var(--fl-asst-base-radius);
        padding: 3px;
        display: flex;
        flex-direction: column;
    }

	.fl-asst-button-loading {
		svg {
			margin-left: 8px;
		}
	}
}
