.fl-asst {

	/* Unused? */
    .fl-asst-more-menu {
        background: var(--fl-asst-secondary-surface-background);
        color: var(--fl-asst-secondary-surface-color);
        border-radius: var(--fluid-radius);
        padding: 3px;
        display: flex;
        flex-direction: column;
    }

	/* Still used */
	.fl-asst-button-loading {
		svg {
			margin-left: 8px;
		}
	}
}
