:root {
    --fluid-background: white;
    --fluid-color: black;

    // Dark Colors
    --fluid-dark-background: hsl(210, 13%, 16%);
    --fluid-dark-color: hsl(210, 15%, 90%);

    // Box Colors
    --fluid-box-background: #F1F5F9;
    --fluid-box-color: black;
    --fluid-box-hover-background: #E3EBF2;

    // Primary Colors
    --fluid-primary-background: #EFF8FF;
    --fluid-primary-color: #006AD4;
    --fluid-primary-hover-background: #D8ECFF;

    // Alert Colors
    --fluid-alert-background: #FEF4EA;
    --fluid-alert-color: #A95700;
    --fluid-alert-hover-background: #FCE3CA;

    // Destructive Colors
    --fluid-destructive-background: #FEF3F1;
    --fluid-destructive-color: #BC0A00;
    --fluid-destructive-hover-background: #F9DAD4;

    // Accent Color
    --fluid-accent: #0075DB;

    // Outlines and Separators
    --fluid-line-color: #F1F5F9;
    --fluid-dark-line-color: black;

    // Spacing
    --fluid-sm-space: 5px;
    --fluid-med-space: 10px;
    --fluid-lg-space: 20px;

    // Base Sizes
    --fluid-font-size: 13px;
    --fluid-radius: 3px;
    --fluid-target-size: 36px; // Minimum click target

    --fluid-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.fl.uid {
    color: var(--fluid-color);
    font-size: var(--fluid-font-size);
    font-weight: normal;
    line-height: 1.3;

    .fluid-status-primary {
        --fluid-box-background: var(--fluid-primary-background);
        --fluid-box-color: var(--fluid-primary-color);
        --fluid-box-hover-background: var(--fluid-primary-hover-background);
        --fluid-accent: #0075DB;

        color: var(--fluid-box-color);
    }
    .fluid-status-alert {
        --fluid-box-background: var(--fluid-alert-background);
        --fluid-box-color: var(--fluid-alert-color);
        --fluid-box-hover-background: var(--fluid-alert-hover-background);
        --fluid-accent: var(--fluid-alert-color);

        color: var(--fluid-box-color);
    }
    .fluid-status-destructive {
        --fluid-box-background: var(--fluid-destructive-background);
        --fluid-box-color: var(--fluid-destructive-color);
        --fluid-box-hover-background: var(--fluid-destructive-hover-background);
        --fluid-accent: var(--fluid-destructive-color);

        color: var(--fluid-box-color);
    }

    &.fluid-color-scheme-dark {
        --fluid-background: hsl(210, 13%, 16%);
        --fluid-color: hsl(210, 15%, 90%);
        // Accent Color
        --fluid-accent: #0075DB;
        --fluid-line-color: var(--fluid-dark-line-color);

        // Box Colors
        --fluid-box-background: hsl(210, 17%, 5%);
        --fluid-box-color: hsl(210, 11%, 65%);
        --fluid-box-hover-background: hsl(210, 17%, 10%);

        // Primary Colors
        --fluid-primary-background: hsl(206, 100%, 9%);
        --fluid-primary-color: hsl(210, 100%, 80%);
        --fluid-primary-hover-background: hsl(206, 80%, 14%);

        // Alert Colors
        --fluid-alert-background: hsl(31, 55%, 10%);
        --fluid-alert-color: hsl(31, 100%, 72%);
        --fluid-alert-hover-background: hsl(31, 45%, 14%);

        // Destructive Colors
        --fluid-destructive-background: hsl(0, 100%, 7%);
        --fluid-destructive-color: hsl(3, 100%, 67%);
        --fluid-destructive-hover-background: hsl(0, 80%, 12%);
    }
}
