.fluid {
	.fluid-widget {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column-reverse;
		box-shadow: 0 0 0 transparent;
		border-radius: var(--fluid-med-space);
		transition-property: box-shadow;
		transition-duration: .25s;

		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;

		.fluid-widget-title {
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 3px;
			font-size: 11px;
			color: var(--fluid-transparent-4);
		}
		.fluid-widget-content {
			position: relative;
			flex: 1 1 auto;
			background: var(--fluid-background);
			border-radius: var(--fluid-med-space);
			min-height: 0;
			overflow: hidden;
			box-shadow: 0 6px 12px rgba(0,0,0,.01);
			display: flex;
			flex-direction: column;
			padding: 15px;
			/*cursor: move;*/
		}

		&.fluid-widget-size-sm {
			.fluid-widget-content {
				justify-content: center;
				align-items: center;
			}
		}
	}
	.fluid-color-scheme-dark {
		.fluid-widget {
			.fluid-widget-title {
				color: var(--fluid-transparent-8);
			}
			.fluid-widget-content {
				background: var(--fluid-opaque-1);
				box-shadow: 0 6px 12px rgba(0,0,0, .1);

				.fluid-toolbar {
					background: transparent;
				}
			}

			&:hover {
				background: var(--fluid-opaque-0);
				box-shadow: 0 0 0 3px var(--fluid-opaque-0);
			}
		}
	}
}
