.fluid {
	.fluid-widget {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column-reverse;

		.fluid-widget-title {
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 6px;
			font-size: 11px;
			color: var(--fluid-transparent-6);
		}
		.fluid-widget-content {
			flex: 1 1 auto;
			background: var(--fluid-background);
			border-radius: 10px;
			min-height: 0;
			box-shadow: 0 6px 12px rgba(0,0,0,.03);
		}
	}
	.fluid-color-scheme-dark {
		.fluid-widget {
			.fluid-widget-title {
				color: var(--fluid-transparent-8);
			}
		}
	}
}
