.fl-asst {

    // Most likely set on StackView
    .fl-asst-appearance-form {
        --fl-asst-background-color: var(--fl-asst-utility-background-color);
        background-color: var(--fl-asst-utility-background-color);
    }

    form {
        padding: var(--fl-asst-base-padding) 0;
        display: grid;
        grid-row-gap: var(--fl-asst-half-unit);

        .fl-asst-form-section {

            .fl-asst-form-section-title {
                display: flex;
                flex-direction: row;
                min-height: 36px;
                align-items: center;
                padding: 0 var(--fl-asst-base-padding);
                color: var(--fl-asst-title-color);
                font-weight: 500;
            }
            .fl-asst-form-section-content {
                background: var(--fl-asst-light-color);
                padding: var(--fl-asst-half-unit) 0;
                display: grid;
                grid-row-gap: var(--fl-asst-half-unit);
                box-shadow: 0 1px 2px 0 var(--fl-asst-line-color);
            }
            &.fl-asst-form-section-is-inset {
                padding: 0 var(--fl-asst-base-padding);

                .fl-asst-form-section-title {
                    padding:0;
                }
                .fl-asst-form-section-content {
                    border-radius: 7px;

                    .fl-asst-form-item {
                        padding: 0 var(--fl-asst-half-unit);
                    }
                }
            }
        }

        .fl-asst-form-footer {
            padding: var(--fl-asst-half-unit) var(--fl-asst-base-padding);
            position: -webkit-sticky;
            position: sticky;
            bottom:0;
            background: var(--fl-asst-utility-background-color);
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            line-height: 1;
        }

        .fl-asst-form-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 var(--fl-asst-base-padding);
            padding-left: calc( var(--fl-asst-base-padding) - 2px );
            border-left: 2px solid transparent;
            min-height: 36px;

            p {
                margin:0;
            }

            &.fl-asst-form-item-placement-beside {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: var(--fl-asst-half-unit);

                label {
                    margin:0;
                    justify-self: start;
                }

                .fl-asst-form-item-content {
                    text-align: right;
                }
            }

            .fl-asst-form-item-content {
                justify-self: end;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                align-content: center;
                flex-wrap: wrap;

                button {
                    flex: 0 0 auto;
                }
            }
        }

        .fl-asst-form-item:focus-within {
            border-left: 2px solid var(--fl-asst-dark-color);

            label {
                color: var(--fl-asst-title-color);

                abbr {
                    color: inherit;
                }
            }
        }
    }

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.2;
        color: var(--fl-asst-text-color);
        text-transform: none;
        text-decoration: none;
        text-shadow: none;
        margin: 0 0 10px;

        abbr {
            display: flex;
            text-decoration: none;
            margin-left: 5px;
            color: var(--fl-asst-base-art-color);
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    select,
    textarea {
        flex-grow: 1;
        flex-shrink: 1;
        font-family: var(--fl-asst-base-font-family);
        font-size: var(--fl-asst-base-text-size);
        font-weight: 500;
        line-height: 1.2;
        text-transform: none;
        color: var(--fl-asst-title-color);
        padding: 4px var(--fl-asst-half-unit);
        margin:0;
        background-color: var(--fl-asst-light-color);
        background-image: none;
        border: 3px solid transparent;
        border-radius: 7px;
        box-shadow: none;
        max-width: none;
        min-height: 36px;
        box-shadow: 0 1px 2px 0 var(--fl-asst-line-color);

        &:focus,
        &:invalid {
            outline: none;
            border-color: var(--fl-asst-line-color);
            box-shadow: 0px 0px 0px 2px var(--fl-asst-highlight-color);
        }
        &:invalid {
            --fl-asst-highlight-color: var(--fl-asst-error-color);

            &:focus {
                --fl-asst-highlight-color: var(--fl-asst-accent-color);
            }
        }
    }

    .fl-asst-form-section {

        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="password"],
        input[type="search"],
        input[type="number"],
        input[type="tel"],
        input[type="date"],
        input[type="month"],
        input[type="week"],
        input[type="time"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="color"],
        select,
        textarea {
            border-color: transparent;
            box-shadow: 0px 0px 0px 1px var(--fl-asst-line-color);

            &:focus,
            &:invalid {
                outline: none;
                border-color: var(--fl-asst-line-color);
                box-shadow: 0px 0px 0px 2px var(--fl-asst-highlight-color);
            }
            &:invalid {
                --fl-asst-highlight-color: var(--fl-asst-error-color);

                &:focus {
                    --fl-asst-highlight-color: var(--fl-asst-accent-color);
                }
            }
        }
    }

    textarea {
        flex: 1 0 100%;
    }

    input[type="range"] {
        -webkit-appearance: slider-horizontal;
    }

    select {
        height: 36px;
        -webkit-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg width="14px" height="7px" viewBox="0 0 14 7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polyline fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="1,1 7,6 13,1" /></svg>');
        background-repeat: no-repeat;
        background-position: right 14px center;

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }

        &::-ms-expand {
            display: none;
        }

        &[multiple] {
            height: auto;
            padding: 10px 7px 0;
            background-image: none;

            option {
                padding: 2px 7px;
                margin: 1px 0;
                border-radius: 3px;
                font-weight: normal;
            }
        }
    }

    button,
    input[type="button"] {
        font-family: var(--fl-asst-base-font-family);
        font-size: var(--fl-asst-base-text-size);
        font-weight: 500;
        line-height: 1.2;
        text-transform: none;
        text-decoration: none;
        justify-content: center;
        text-shadow: none;
    }
    form button {
        box-shadow: 0 1px 2px 0 var(--fl-asst-line-color);

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:focus {
            outline: none;
            border-color: var(--fl-asst-line-color);
            box-shadow: 0px 0px 0px 2px var(--fl-asst-highlight-color);
        }
    }
}
