.fl-asst {

    .fl-asst-toolbar {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        min-height: var(--fluid-target-size);
        justify-content: center;

        & > * {
            margin-right: var(--fluid-sm-space);

            &:last-child {
                margin-right:0;
            }
        }
    }

    .fl-asst-page-header {
        display: flex;
        flex-direction: column;
    }
}
