.fl-asst {
	.fl-asst-feature-section {
		--margin: 40px;

		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		margin-bottom: var(--fluid-med-space);

		.section-content {
			position: relative;
			max-width: 100%;
		}

		&.pad-content {
			.section-content {
				padding: 0 var(--margin);
			}
		}

		.section-description {
			padding: 0 var(--margin) 20px;
			line-height: 1.5;
		}

		.section-footer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 10px var(--margin) 0;
		}

		.fl-asst-feature-section-header {
			--bg-color: var(--fluid-background);
			min-height: 60px;
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0;
			padding-right: 15px;
			position: sticky;
			top: 70px;
			background: var(--bg-color);
			z-index: 2;

			.gutter-space {
				flex: 0 0 var(--margin);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.title-text {
				flex: 1 1 auto;
				font-size: 20px;
				font-weight: bold;
				display: inline-flex;
				flex-direction: row;
				align-items: center;
			}

			.header-actions {
				margin-left: auto;
			}
		}
	}
}
@supports ( backdrop-filter: blur( 0px ) ) or ( -webkit-backdrop-filter: blur( 0px ) ) {
	.fl-asst-feature-section {
		--bg-effect: blur( 7px ) saturate( 300% );

		.fl-asst-feature-section-header {
			--bg-color: hsla( 0, 0%, 100%, .9 );

			-webkit-backdrop-filter: var(--bg-effect);
			backdrop-filter: var(--bg-effect);
		}
	}
	.fluid-color-scheme-dark {
		.fl-asst-feature-section {
			.fl-asst-feature-section-header {
				--bg-color: hsla( 210deg, 10%, 15%, .9 ); /* 90% transparent version of --fluid-background */
				-webkit-backdrop-filter: var(--bg-effect);
				backdrop-filter: var(--bg-effect);
			}
		}
	}
}
