.fl-asst-hgroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fl-asst-vgroup {
    display: flex;
    flex-direction: column;
}
.fl-asst-padding-normal {
    padding: 20px;
}
.fl-asst-separator {
    background-color: #E7EBEF;
    border-top:none;
    height: 8px;
    margin:0;
}
