.fl-asst-hgroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fl-asst-vgroup {
    display: flex;
    flex-direction: column;
}
.fl-asst-padding {
    padding: var(--fl-asst-base-padding);
}
.fl-asst-separator {
    display: flex;
    flex: 0 0 18px;
    max-height: 18px;
    overflow:hidden;
    position: relative;
    border-top:none;
    margin:0;
    padding:0;
    color: var(--fl-line-color);

    &.fl-asst-separator-slim {
        flex: 0 0 3px;
        max-height: 3px;
        background-color: var(--fl-line-color);
    }
}

.fl-asst-heading {
    font-size: 17px;
    font-weight: 500;
    margin-bottom:8px;
    line-height: 1.3;

    &:last-child {
        margin-bottom:0;
    }

    &.fl-asst-heading-1 {
        font-size: 20px;
        font-weight: 600;
        color: var(--fl-title-color);
    }
}

.fl-asst-aspect-box {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.fl-asst-aspect-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.fl-asst-aspect-box > div {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--fl-utility-background-color);
    background-size: cover;
    background-position: center;
    border-radius: 2px;
}
