.fl-asst {
	.fluid-text-title.fl-asst-welcome-text {
        margin: 10px 0 20px;
        font-size: 20px;

        .fluid-text-subtitle {
            font-size: 13px;
            font-weight: normal;
            line-height: 1.4;
            margin-top: 5px;
        }
    }
}
