.cmt-btn-wrap{
	float:left;
	width: 100%;
}
.cmt-cncl-btn{
	float: left;
	margin-top: 10px;
}
.cmt-updt-btn{
	float: right;
	margin-top: 10px;
}
.cmt-text-wrap{
	float:left;
	width: 100%;
	margin-top: 10px;
}
.comment-text {
	padding: 15px;
}
.edit-comment-title{
	font-weight: 600;
	margin-bottom: 10px;
	float: left;
}
.fl-asst-comment-extras {
	display: block !important;
}
