.fl-asst {
	.fl-asst-cmt-btn-wrap {
		float:left;
		width: 100%;
	}
	.fl-asst-cmt-cncl-btn {
		float: left;
		margin-top: 10px;
	}
	.fl-asst-cmt-updt-btn {
		float: right;
		margin-top: 10px;
	}
	.fl-asst-cmt-text-wrap {
		float:left;
		width: 100%;
		margin-top: 10px;
	}
	.fl-asst-comment-text {
		padding: 15px;
	}
	.fl-asst-edit-comment-title {
		font-weight: 600;
		margin-bottom: 10px;
		float: left;
	}

	#fl-comments-list-page {
		.fluid-page-header {
            padding: 0;
            padding-bottom: 2px;
        }
	}
}
