.fl.uid {
    .fluid-text-title {
        flex: 0 1 auto;
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }
    .fluid-text-eyebrow,
    .fluid-text-subtitle {
        font-size: 12px;
        font-weight: 500;
        color: var(--fluid-muted-text-color);
    }
    .fluid-text-eyebrow {
        font-size: 13px;
        text-transform: uppercase;
    }

    .fluid-size-med .fluid-text-title {
        font-size: 13px;
    }
    .fluid-size-sm .fluid-text-title {
        font-size: 13px;
    }
}
