.fluid {
    .fluid-split {
        position: relative;
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        min-height: 0;
        max-height: 100%;

        .fluid-split-pane {
            position: relative;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            min-height: 0;
            max-height: 100%;
            overflow: auto;
            border-right: 2px solid var(--fluid-line-color);
            -ms-overflow-style: -ms-autohiding-scrollbar;

            &:last-child {
                border-right: none;
            }
        }
    }
}
