.fl-asst {
    .fl-asst-attachment-list {
        .fl-asst-list-item-thumbnail {
            background: var(--fluid-primary-background);
            color: var(--fluid-primary-color);
        }
    }
    .fl-asst-attachment-grid-item {
        height: 100%;

        & > img {
            height: 100%;
        }
    }
    .fl-asst-grid-list-item {

        .fl-asst-item-extras {
            top: auto;
            bottom:5px;
            left: 5px;
            right: 5px;

            &:first-child {
                top: auto !important;
            }
        }
        .fl-asst-attachment-item-badge {
            display: flex;
            flex: 1 1 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: bold;
            padding: var(--fluid-sm-space);

            span {
                background: var(--fluid-primary-background);
                padding: 1px var(--fluid-med-space);
                border-radius: 12px;
            }
        }
    }
}
