.fl-asst {
    .fl-asst-attachment-grid-item {
        height: 100%;

        & > img {
            height: 100%;
        }
    }
    .fl-asst-grid-list-item {
        .fl-asst-item-extras {
            top: auto;
            bottom:5px;
            left: 5px;
            right: 5px;

            &:first-child {
                top: auto !important;
            }
        }
    }
}
