.fl-asst-users-summary {
    padding: var(--fl-asst-inner-space);
    margin-bottom: 10px;

    .info {
        .username {
            font-size: 20px;
            font-weight: bold;
        }
        .email {
            font-style: italic;
        }
    }

    .actions {
        padding-top: var(--fl-asst-inner-space);
    }

    .circles {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

        .circle {
            border: 2px solid var(--fl-asst-dim-text);
            border-radius: 50%;
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-right: 10px;
            background: var(--fl-asst-surface-background);
            color: var(--fl-asst-surface-color);

            .count {
                display: block;
                font-size: 25px;
            }
            .title {
                display: block;
            }
            img {
                width: 100%;
                height: 100%;
                border: 1px solid #ccc;
                border-radius: 50%;
            }
        }
    }
}
