.fl-asst-post-actions {

	.fl-asst-button.is-warning {
		margin-left: auto;
		margin-right: 0;
	}
}

.fl-asst-detail-feature {
	position: relative;
	height: 400px;
	background: #1B6A88;
	color: var(--fl-asst-light-color);
	overflow:hidden;

	.fl-asst-detail-feature-thumbnail {
		width: 100%;
		height:100%;
		object-fit: cover;
		filter: saturate(150%) blur(8px) brightness(85%);
		transform: scale(1.05);
	}

	.fl-asst-detail-feature-content {
		position: absolute;
		left:0;
		right:0;
		bottom:0;
		padding: var(--fl-asst-base-padding);
		display: flex;
		flex-direction: row;

		.fl-asst-detail-feature-title {
			font-size: 22px;
			font-weight: 500;
			line-height: 1.15;
		}
	}
}
