:root {

	// Known Colors
	--fl-asst-red: #FF5335;
	--fl-asst-blue: #1BADF8;
	--fl-asst-green: #02C278;
	--fl-asst-yellow: #FFD000;
	--fl-asst-orange: #FF9500;
	--fl-asst-purple: #CC73E1;
	--fl-asst-pink: #FF2968;
}
