:root {
    // Light Colors
    --fl-asst-light-1: white;
    --fl-asst-light-2: hsl(214, 3%, 98%);
    --fl-asst-light-3: hsl(214, 15%, 96%);
    --fl-asst-light-4: hsl(214, 35%, 92%);
    --fl-asst-light-5: hsl(214, 35%, 86%);

    --fl-asst-light-text: black;
    --fl-asst-light-subtext: var(--fl-asst-dark-2);
    --fl-asst-light-translucent: hsla(214, 30%, 92%, .96);

    --fl-asst-input-background: hsl( var(--fluid-hue), 32%, 99% );

    // Darks
    --fl-asst-dark-1: hsl(210, 17%, 5%);
    --fl-asst-dark-2: hsl(210, 13%, 16%);
    --fl-asst-dark-3: hsl(210, 12%, 28%);
    --fl-asst-dark-4: hsl(210, 11%, 44%);
    --fl-asst-dark-text: hsl(214, 15%, 90%);
    --fl-asst-dark-subtext: var(--fl-asst-light-3);
    --fl-asst-dark-translucent: hsla(210, 17%, 12%, .96);

	// Colors
	--fl-asst-red: #FF5335;
	--fl-asst-blue: #1BADF8;
	--fl-asst-green: #02C278;
	--fl-asst-yellow: #FFD000;
	--fl-asst-orange: #FF9500;
	--fl-asst-purple: #CC73E1;
	--fl-asst-pink: #FF2968;
}

.fluid {

    .fluid-color-scheme-light {
        --fl-asst-surface-color: var(--fl-asst-light-text);
        --fl-asst-surface-background: var(--fl-asst-light-1);

        --fl-asst-secondary-surface-color: var(--fluid-box-color);
        --fl-asst-secondary-surface-background: var(--fluid-box-background);

        --fl-asst-translucent-background: var(--fl-asst-light-translucent);
        --fl-asst-dim-text: var(--fl-asst-dark-5);
    }

    .fluid-color-scheme-dark {
        --fl-asst-surface-color: var(--fl-asst-dark-text);
        --fl-asst-surface-background: var(--fl-asst-dark-2);

        --fl-asst-secondary-surface-color: var(--fl-asst-light-4);
        --fl-asst-secondary-surface-background: var(--fl-asst-dark-1);

        --fl-asst-accent-color: var(--fl-asst-dark-text);

        --fl-asst-translucent-background: var(--fl-asst-dark-translucent);
        --fl-asst-dim-text: var(--fl-asst-light-5);

        --fl-asst-input-background: hsl( var(--fluid-hue), 15%, 12% );
    }

    // Surfaces and content areas
    .fl-asst-surface,
    .fl-asst-primary-content {
        background-color: var(--fluid-background);
        color: var(--fluid-color);
        transition: background-color .15s, color .15s;
    }
    .fl-asst-secondary-surface,
    .fl-asst-secondary-content {
        background-color: var(--fluid-box-background);
        color: var(--fluid-box-color);
        transition: background-color .15s, color .15s;
    }
}
