.fl-asst {
    .fl-asst-card-list,
    .fl-asst-card-type-list {

        li {
            margin-bottom: var(--fluid-sm-space);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .fl-asst-card-type-list {
        li {
            display: flex;
            flex-direction: row;
        }
    }

    .fluid-button.fl-asst-card-type {
        flex: 1 1 auto;
        background: var(--fluid-background);
        border-radius: var(--fluid-radius);
        padding: 2px var(--fluid-med-space);
        padding-right: var(--fluid-lg-space);
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 40px;

        &:hover {
            background: var(--fluid-background);
        }

        .fl-asst-card-type-title,
        .fl-asst-card-type-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .fl-asst-card-type-title {
            flex: 1 1 auto;
            margin-right: var(--fluid-lg-space);

            svg {
                margin-right: var(--fluid-med-space);
            }
        }
        .fl-asst-card-type-actions {
            flex: 0 0 auto;
            margin-left: auto;
        }
    }
}
