.fl-asst-list-item.fl-asst-comment-pending {
	background: var(--fl-utility-background-color);
}
.fl-asst-comment-pending-icon {
    line-height: 0;
	position: absolute;
	left: 7px;
	height: 5px;
	width: 5px;
}
