.fl-asst {

    form {
        padding: 0 0 var(--fl-asst-outer-space);
        color: inherit;
        margin: 0;

        .fl-asst-form-section {
            display: flex;
            flex-direction: column;

            .fl-asst-form-section-title {
                flex: 0 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 3px var(--fl-asst-outer-space) 0;
                text-transform: uppercase;
                background-color: var(--fl-asst-surface-background);
                border-bottom: 2px solid var(--fl-asst-secondary-surface-background);

                // Yea, all this for sticky headers
                position: -webkit-sticky;
                position: -moz-sticky;
                position: -ms-sticky;
                position: -o-sticky;
                position: sticky;
                top:0;

                .fl-asst-form-section-title-text {
                    display: inline-flex;
                    align-items: center;
                    min-height: var(--fl-asst-target-size);
                    max-width: 70%;
                    box-shadow: 0px 2px 0px 0px currentColor;
                    align-items: flex-end;
                    padding: 0 0 5px;
                }
            }
            .fl-asst-form-section-content {
                flex: 1 1 auto;
                padding: var(--fl-asst-outer-space) 0;
                display: grid;
                grid-row-gap: var(--fl-asst-inner-space);
            }
        }

        .fl-asst-form-footer {
            padding: var(--fl-asst-inner-space) var(--fl-asst-outer-space);
            position: -webkit-sticky;
            position: sticky;
            bottom:0;
            background: var(--fl-asst-surface-background);
            border-top: 5px solid var(--fl-asst-secondary-surface-background);
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            line-height: 1;
        }

        .fl-asst-form-item {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px var(--fl-asst-outer-space);
            margin: 0 calc( 0px - var(--fl-asst-outer-space) );
            min-height: var(--fl-asst-target-size);
            box-shadow: none;
            transition-property: box-shadow;
            transition-duration: .25s;

            p {
                margin:0;
            }

            &.fl-asst-form-item-placement-beside {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: var(--fl-asst-inner-space);

                label {
                    margin:0;
                    justify-self: start;
                }

                .fl-asst-form-item-content {
                    text-align: right;
                }
            }

            .fl-asst-form-item-content {
                justify-self: end;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                align-content: center;
                flex-wrap: wrap;
                word-break: break-word;

                button {
                    flex: 0 0 auto;
                }

                label {
                    font-weight: normal;
                }
            }
        }

        .fl-asst-form-item:focus-within {
            box-shadow: inset 2px 0px 0px 0px var(--fl-asst-accent-color);
        }

        &.fl-asst-highlight-changes {
            .fl-asst-form-item-has-changes {
                box-shadow: inset 2px 0px 0px 0px var(--fl-asst-blue);
                background: var(--fl-asst-selected-color);
            }
        }
    } // form

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        line-height: 1.2;
        color: var(--fl-asst-text-color);
        text-transform: none;
        text-decoration: none;
        text-shadow: none;
        margin: 0 0 var(--fl-asst-small-space);

        abbr {
            display: flex;
            text-decoration: none;
            margin-left: 5px;
            color: var(--fl-asst-base-art-color);
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea {
        --fl-asst-highlight-color: var(--fl-asst-accent-color);

        display: block;
        box-sizing: border-box;
        flex-grow: 1;
        flex-shrink: 1;
        color: inherit;
        padding: var(--fl-asst-tiny-space);
        margin:0;
        background-color: var(--fl-asst-secondary-surface-background);
        background-image: none;
        border-radius: 7px;
        height: auto;
        min-height: var(--fl-asst-target-size);

        &:focus,
        &:invalid {
            outline: none;
            box-shadow: inset 0px 0px 0px 2px var(--fl-asst-surface-background),
                        0px 0px 0px 2px var(--fl-asst-highlight-color);
        }
        &:invalid {
            --fl-asst-highlight-color: var(--fl-asst-error-color);

            &:focus {
                --fl-asst-highlight-color: var(--fl-asst-accent-color);
            }
        }
    }

    input,
    textarea {
        width: 100%;
        flex: 1 0 100%;
    }

    input[type="range"] {
        -webkit-appearance: slider-horizontal;
    }
    input[type="checkbox"],
    input[type="radio"] {
        width: auto;
        flex: 0 0 auto;
        margin: 0;
        margin-right: var(--fl-asst-small-space);
    }

    select {
        height: var(--fl-asst-target-size);
        background-color: var(--fl-asst-secondary-surface-background);

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
        &::-ms-expand {
            display: none;
        }

        &[multiple] {
            height: auto;
            padding: 10px 7px 0;
            background-image: none;

            option {
                padding: 2px 7px;
                margin: 1px 0;
                border-radius: 3px;
                font-weight: normal;
            }
        }
    }

    .fl-asst-appearance {
        button,
        input[type="button"],
        input[type="submit"] {
            box-sizing: border-box;
            font-weight: 500;
            line-height: 1.2;
            text-transform: none;
            text-decoration: none;
            justify-content: center;
            text-shadow: none;
            background-color: transparent;
        }
	}
}
