.fl-asst {

    .fl-asst-library-item-title {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: var(--fluid-med-space) 0;
    }

	.fl-asst-library-content {
		.fluid-collection-appearance-grid {
			grid-template-columns: repeat( 2 , 1fr );
		}
	}
	.fluid-frame-size-medium {
		.fl-asst-library-content {
			.fluid-collection-appearance-grid {
				grid-template-columns: repeat( 3 , 1fr );
			}
		}
	}
}
