.fluid {
    .fluid-box {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        &.fluid-box-outset {
            margin-left: calc( 0px - var(--fluid-lg-space) );
            margin-right: calc( 0px - var(--fluid-lg-space) );
        }

        &.fluid-row {
            --fluid-gap: 0px;
            flex-direction: row;

            & > * {
                margin-right: var(--fluid-gap);

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .fluid-headline {
        font-size: 24px;
        font-weight: 600;
        word-break: break-word;
    }

    .fluid-toolbar {
        flex: 0 0 60px;
        display: flex;
        flex-direction: row;
        align-items: center; // vertical centering
        height: 60px;
        padding: 2px 10px;
        background: var(--fluid-background);
        z-index: 1;

        &.fluid-is-sticky {
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            top: 0;
        }

        &.fluid-size-lg  { height: 60px; }
        &.fluid-size-med { height: 50px; }
        &.fluid-size-sm  { height: 40px; }
    }

    .fluid-content-boundary {
        width: clamp( 40ch, 80ch, 100% );
        margin: 0 auto;
        padding: 0 var(--fluid-lg-space);
    }

    .fluid-drop-area {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        min-height: 0;
        overflow: auto;
    }
}
