.fl-asst {
	.fluid-widget-type-recent-posts {
		.fluid-widget-content {
			padding: 0;
			height: 320px;

			.fl-asst-list {
				.fl-asst-list-item-content-info {
					padding: 10px 0;

					.fl-asst-list-item-title {
						font-size: 13px;
					}
				}
				.fl-asst-list-item-loading {
					.fl-asst-list-item-thumbnail {
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	}
}
