.fl-asst-tab-bar {
    border-bottom: 1px solid var(--fl-line-color);
    padding:0 20px;

    .fl-asst-button {
        border-radius:0;
        font-size: 15px;
    }

    .fl-asst-button-is-selected {
        border:none;
        border-bottom: 2px solid var(--fl-accent-color);
    }
}
