.fl-asst-nav-bar {
    background: var(--fl-utility-background-color);
    min-height: 54px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &.fl-asst-nav-bar-is-expanded {
        background: var(--fl-background-color);
        box-shadow: 0 0 22px 0 rgba(0,0,0,0.1);
        padding-bottom: calc( var(--fl-asst-base-padding) / 2 );
    }

    .fl-asst-nav-bar-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        align-items: stretch;
    }

    .fl-asst-nav-bar-footer {
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;

        button {
            flex: 1 1 auto;
            margin: 0;
            padding: 4px;

            &:focus {
                border-color: transparent;
                color: var(--fl-accent-color);
            }
        }
    }
}
