.fl-asst-list {
    list-style: none;
    padding:0;
    margin:0;
}

.fl-asst-list-group-heading {
	background: var(--fl-utility-background-color);
	padding: 5px 20px;
}

.fl-asst-list-item-loading {
	.fl-asst-list-item-title,
	.fl-asst-list-item-meta {
		position: relative;
		text-indent: -9999px;
		&::before {
			content: '';
			display: block;
			padding: 3px;
			position: absolute;
			right: 0;
			left: 0;
			background-image: linear-gradient(to right, #EDF2F4, #C6CFD2, #EDF2F4);
			background-size: 200% 100%;
			background-position: 100%;
		}
	}
	.fl-asst-list-item-meta {
		width: 75%;
	}
}

.fl-asst-list-no-results {
	padding: 20px;
	text-align: center;
}

.fl-asst-list-item {
    position: relative;
    display: flex;
    flex-direction: row;
    padding:0;
    align-items: stretch;
    background: transparent;
    overflow: hidden;

    &:hover {
        background: #F9FBFC;
        cursor: pointer;
    }

    & > * {
        flex: 1 1 auto;
        align-items: center;
    }

    .fl-asst-list-item-visual {
        flex: 0 0;
        padding: 10px 20px;
        padding-right:0;

        .fl-asst-list-item-image-box {
            width: 50px;
            padding-top:100%;
            background: var(--fl-utility-background-color);
			background-size: cover;
            border-radius: 2px;
        }
        .fl-asst-list-item-image-box:before {
            content: "";
            display: block;
        }
    }

    .fl-asst-list-item-content {
        flex: 1 1 auto;
        max-width: calc(100% - 90px);
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 20px;

        .fl-asst-list-item-title {
            color: var(--fl-accent-color);
            font-size: 16px;
            line-height: 1.4;
        }
        .fl-asst-list-item-meta {
            font-size: 13px;
            color: var(--fl-asst-muted-text-color);
        }
    }

    .fl-asst-list-item-accessory {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
    }

    .fl-asst-list-item-actions {
        position: absolute;
        top:0;
        right:0;
        bottom:0;

        display: flex;
        flex-direction: row;
        align-items:center;
        padding: 10px;

        background: var(--fl-background-color);
        border: 1px solid var(--fl-accent-color);
        color: var(--fl-accent-color);

        display:none;
        transform: translateX(100%);

        .fl-asst-button {
            color: inherit;
        }
    }
}

.fl-asst-list-detail {
	.fl-asst-separator {
		margin: 15px 0;
	}
}
