.fl-asst-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 7px;
    background: var(--fl-utility-background-color);
    color: var(--fl-text-color);
    line-height: 1.2;
    padding: 6px 10px;
    margin: 0 5px;
    font-family: var(--fl-asst-base-font-family);
    font-size: var(--fl-asst-base-text-size);
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    line-height: 1.2;
    -webkit-user-select:none;
    user-select: none;

    &:hover {
        top:0;
        border: 2px solid transparent;
        background: #E7EBEF;
        color: var(--fl-text-color);
    }
    &:focus {
        top:0;
        border: 2px solid var(--fl-accent-color);
        background: #E7EBEF;
        color: var(--fl-text-color);
        outline: none;
        box-shadow: none;
    }
    &:disabled {
        pointer-events: none;
        opacity: .5;
    }


    &.fl-asst-button-is-selected {
        color: var(--fl-accent-color);
        border-color: var(--fl-accent-color);

        & > svg {
            color: inherit;
        }
    }

    &.fl-asst-button-transparent {
        background: transparent;
    }

    &.fl-asst-button-icon {
        margin:0;
        padding: 0;
        min-width: 38px;
        min-height: 38px;
        color: var(--fl-asst-base-art-color);

        &:hover svg {
            color: var(--fl-accent-color);
        }
    }

    &.fl-asst-outline-button {
        background:white;
        color: var(--fl-accent-color);
        border-color: var(--fl-accent-color);

        &:focus {
            background: var(--fl-accent-color);
            color: white;
        }
    }

    &.fl-asst-button-round {
        border-radius: 50%;
    }
}

.fl-asst a.fl-asst-button {
    text-decoration: none;
}

.fl-asst-button {
    &.fl-asst-app-tab-button {
        border: 2px solid transparent;
        outline: none;
        background: transparent;
        padding: 3px 3px;
        color: var(--fl-asst-base-art-color);
        border-radius: 7px;
        transition-property: transform;
        transition-duration: .1s;

        &:hover {
            border-color: transparent;
            color: var(--fl-title-color);
        }

        &:focus {
            border-color: var(--fl-background-color);
            box-shadow: 0px 0px 0px 2px var(--fl-accent-color);
            color: var(--fl-asst-dark-color);
        }

        &.fl-asst-button-is-selected {
            background-color: var(--fl-asst-dark-color);
            color: var(--fl-asst-light-color);

            // Trying this
            background-color: var(--fl-utility-background-color);
            color: var(--fl-accent-color);
            box-shadow: 0px 1px 2px #9cbecb;

            &:hover {
                transform: scale(1.05);
            }

            &:focus {
                box-shadow: 0px 0px 0px 2px var(--fl-accent-color);
            }
        }
    }

    .fl-asst-app-tabs-area & {
        flex: 1 1 auto;
    }
}
