.fluid-lightbox {
	background-color: rgba(0,0,0,0.75);
	padding: var(--fluid-med-space);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;

	.fluid-lightbox-close,
	.fluid-lightbox-close:hover,
	.fluid-lightbox-close:active,
	.fluid-lightbox-close:focus {
		background-color: rgba(0,0,0,0.75);
		border-radius: 100%;
		color: #fff;
		font-size: 16px;
		position: absolute;
		top: var(--fluid-med-space);
		right: var(--fluid-med-space);
	}

	.fluid-lightbox-content {
		cursor: zoom-out;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: var(--fluid-lg-space);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}
