.fl-asst {
    .fl-asst-widget-list {
        position: relative;
        margin:0;
        padding:0;
    }
    .fluid-button.fl-asst-apps-widget-item > span {
        justify-content: flex-start;
    }
}
