.fl-asst {
    .fl-asst-widget-list {
        position: relative;
        margin:0;
        padding:0 20px;

        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        grid-gap: var(--fluid-med-space) var(--fluid-lg-space);
        max-width: 100%;

        & > li {
            grid-column-start: span 2;
            display: flex;
            flex-direction: column;

            &.fl-asst-widget {
                cursor: move;
            }

            &.fl-asst-widget-sm {
                grid-column-start: span 1;

                .fluid-widget-content {
                    height: 150px;
                }
            }
            &.fl-asst-widget-med {
                .fluid-widget-content {
                    height: 150px;
                }
            }
            &.fl-asst-widget-lg {
                .fluid-widget-content {
                    height: 320px;
                }
            }
        }
    }
    .fluid-button.fl-asst-apps-widget-item > span {
        flex: 1 1 auto;
        justify-content: flex-start;
    }

    .fluid-text-title.fl-asst-welcome-text {
        margin: 10px 0 20px;
        font-size: 20px;

        .fluid-text-subtitle {
            font-size: 13px;
            font-weight: normal;
            line-height: 1.4;
            margin-top: 2px;
        }
    }
}
