.fl.uid {
    .fluid-button.fl-asst-help-app {
        padding: 10px;
        border-radius: 10px;
        background: var(--fluid-background);
        height: 140px;

        & > span {
            flex-direction: column;
            max-width: 100%;
        }
        .fl-asst-help-app-icon-wrap {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
            background: var(--fluid-blue);
            color: var(--fluid-opaque-14);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            font-size: 11px;
            margin: 10px 0 0;
            color: var(--fluid-opaque-6);
        }
    }
}
