.fl-asst {
	.fluid-page.fl-asst-home-shell {
		flex: 1 1 auto;
		max-height: 100%;
		min-height: 0;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 60px 1fr;

		.fl-asst-home-shell-sidebar {
			display: none;

			.fl-asst-home-shell-sidebar-section {
				padding: 15px;

				.fl-asst-home-shell-sidebar-section-title {
					padding: 5px var(--fluid-med-space);
				}
				ul {
					margin: 0;

					li {
						display: flex;
						flex-direction: row;

						a, button {
							flex: 1 1 auto;

							&.is-selected {
								background: var(--fluid-box-background);
								color: var(--fluid-blue);
							}
						}
					}
				}
			}
			.fl-asst-app-list {
				margin: 0;
			}

			.fluid-button {
				justify-content: flex-start;
				padding: 5px 10px;

				.fluid-button-icon {
					margin-right: 1em;
				}
			}
		}

		.fl-asst-home-shell-content {
			grid-column: 1 / -1;
			grid-row: 1 / -1;
			display: flex;
			flex-direction: column;
			max-height: 100%;
			min-height: 0;
			overflow: auto;
		}
	}

	.fluid-frame-size-medium {
		.fluid-page.fl-asst-home-shell {
			grid-template-columns: minmax( 140px, 200px ) minmax( 400px, 1fr );

			.fl-asst-home-shell-sidebar {
				display: block;
				background: var(--fluid-opaque-13);
				grid-row: 1 / -1;
				grid-column: 1 / span 1;
			}

			.fl-asst-home-shell-content {
				grid-column-start: 2;
			}
		}
	}
	.fluid-color-scheme-dark {
		.fluid-page.fl-asst-home-shell {
			.fl-asst-home-shell-sidebar {
				background: hsl( var(--fluid-hue), 10%, 12% );
			}
		}
	}
}
