.fluid {

    form {
        padding: 0 0 var(--fluid-lg-space);
        color: inherit;
        margin: 0;

        .fluid-form-section {
            display: flex;
            flex-direction: column;

            .fluid-form-section-title {
                flex: 0 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 3px var(--fluid-lg-space) 0;
                text-transform: uppercase;
                background-color: var(--fluid-background);
                border-bottom: 2px solid var(--fluid-box-hover-background);

                // Yea, all this for sticky headers
                position: -webkit-sticky;
                position: -moz-sticky;
                position: -ms-sticky;
                position: -o-sticky;
                position: sticky;
                top:0;

                .fluid-form-section-title-text {
                    display: inline-flex;
                    align-items: center;
                    min-height: var(--fluid-target-size);
                    max-width: 70%;
                    box-shadow: 0px 2px 0px 0px currentColor;
                    align-items: flex-end;
                    padding: 0 0 5px;
                }
            }
            .fluid-form-section-content {
                flex: 1 1 auto;
                padding: var(--fluid-lg-space) 0;
                display: grid;
                grid-row-gap: var(--fluid-med-space);
            }
        }

        .fl-asst-form-footer {
            padding: var(--fluid-med-space) var(--fluid-lg-space);
            position: -webkit-sticky;
            position: sticky;
            bottom:0;
            background: var(--fluid-background);
            border-top: 5px solid var(--fluid-box-background);
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            line-height: 1;
        }

        .fl-asst-form-item {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px var(--fluid-lg-space);
            margin: 0 calc( 0px - var(--fluid-lg-space) );
            min-height: var(--fluid-target-size);
            box-shadow: none;
            transition-property: box-shadow;
            transition-duration: .25s;

            p {
                margin:0;
            }

            &.fl-asst-form-item-placement-beside {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                label {
                    margin:0;
                    margin-right: var(--fluid-med-space);
                    flex: 0 0 auto;
                }

                .fl-asst-form-item-content {
                    text-align: right;
                    justify-content: flex-end;
                    flex: 1 1 auto;
                }
            }

            .fl-asst-form-item-content {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                align-content: center;
                flex-wrap: wrap;
                word-break: break-word;

                button {
                    flex: 0 0 auto;
                }

                label {
                    font-weight: normal;
                }
            }
        }

		.fl-asst-form-item-has-errors {
			label {
				color: var(--fluid-destructive-color) !important;
			}
			input, select, textarea {
				box-shadow: inset 0px 0px 0px 1.5px var(--fluid-destructive-color);
			}
			.fl-asst-form-item-error {
				color: var(--fluid-destructive-color);
				padding: var(--fluid-sm-space) 0 0;
			}
		}

        .fl-asst-form-item-placement-beside {
            select {
                flex: 0 0 auto;
                width: auto;
            }
        }
    } // form
}
