.fl-asst-testing-widget {

    .fl-asst-widget-contents {
        display: grid;
        gap: 6px;

        button {
            margin:0;
        }
    }
}

.fl-asst-main-app-content {
    transition-property: background-color;
    transition-duration: .5s;

    &.fl-asst-main-app-content-is-dimmed {
        background-color: var(--fl-asst-overlay-background-color);
        filter: contrast(90%);
        pointer-events: none;
    }
}
