.fl-asst {
    .fl-asst-count-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        padding: 0 var(--fluid-lg-space);

        .fl-asst-count-bar-item {
            flex: 1 0 auto;
            color: white;
            border-radius: 5px;
            min-height: 5px;
            min-width: 5px;
            margin-right: 5px;
            font-size: 12px;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                color: white;
            }

            &:last-child {
                margin-right: 0;
            }
            &:nth-child( 7n + 1 ) {
                background: var(--fl-asst-blue);
            }
            &:nth-child( 7n + 2 ) {
                background: var(--fl-asst-green);
            }
            &:nth-child( 7n + 3 ) {
                background: var(--fl-asst-yellow);
                color: rgba(0,0,0,.75);

                &:hover {
                    color: rgba(0,0,0,.85);
                }
            }
            &:nth-child( 7n + 4 ) {
                background: var(--fl-asst-orange);
            }
            &:nth-child( 7n + 5 ) {
                background: var(--fl-asst-red);
            }
            &:nth-child( 7n + 6 ) {
                background: var(--fl-asst-purple);
            }
            &:nth-child( 7n + 7 ) {
                background: var(--fl-asst-pink);
            }
        }
        &:hover {
            .fl-asst-count-bar-item {
                min-height: 30px;
                padding: 5px;
                margin-bottom: 5px;
                border-radius: 3px;
            }
        }
    }
}
