.fl-asst {
    .fl-asst-filter {
        padding: var(--fluid-sm-space);
        flex: 0 0 auto;
        margin: 0;

        & > * {
            padding: var(--fluid-sm-space);
            background: var(--fluid-background);
            border-radius: 3px;
        }
    }
}
