.fl-asst-pretitle {
    font-weight: 500;
    color: var(--fl-asst-muted-text-color);
    line-height: 1.2;
    margin-bottom: 7px;
}
.fl-asst-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
    color: var(--fl-title-color);
}

.fl-asst-theme-item {
    margin: 20px 0;

    .fl-asst-theme-item-details {
        flex: 1 1 auto;

        .fl-asst-title {
            margin-bottom:4px;
        }

        .fl-asst-theme-item-version {
            font-size: .8em;
            margin-left: 10px;
        }
    }
    .fl-asst-theme-item-screenshot {
        flex: 0 0 110px;
    }
}
