.fl-asst-tiles-widget {
    padding: var(--fl-asst-half-unit);
    padding-bottom: 0;

    .fl-asst-pretitle {
        font-weight: 500;
        color: var(--fl-asst-muted-text-color);
        line-height: 1.2;
        margin-bottom: 7px;
    }
    .fl-asst-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        color: var(--fl-title-color);
    }

    .fl-asst-tile-list {
        margin:0;
        padding:0;
        list-style: none;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 7px;

        --fl-asst-tile-background-color: var(--fl-asst-dark-color);
        --fl-asst-tile-color: white;

        & > * {

            background: var(--fl-asst-tile-background-color);
            color: var(--fl-asst-tile-color);
            padding: 12px var(--fl-asst-half-unit);
            border-radius: var(--fl-asst-base-border-radius);

            &:first-child {
                grid-column: 1 / -1;
            }
            &:nth-child(5n+1) {
                --fl-asst-tile-background-color: #007DAC;
            }
            &:nth-child(5n+2) {
                --fl-asst-tile-background-color: #00b06c;
            }
            &:nth-child(5n+3) {
                --fl-asst-tile-background-color: #FFC400;
                --fl-asst-tile-color: black;
            }
            &:nth-child(5n+4) {
                --fl-asst-tile-background-color: #5713FE;
            }
            &:nth-child(5n+5) {
                --fl-asst-tile-background-color: #E01041;
            }

            &.fl-asst-stat-tile {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                line-height:1.1;
                min-height: 80px;

                .fl-asst-stat-count {
                    font-size: 30px;
                    font-weight: 400;
                }
                .fl-asst-stat-label {
                    font-weight: 600;
                }
            }
            &.fl-asst-viewing-tile {
                padding:0;
                display: flex;
                flex-direction: column;

                .fl-asst-viewing-info {
                    display: flex;
                    flex-direction: row;

                    .fl-asst-viewing-text {
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        padding: var(--fl-asst-half-unit);
                    }
                    .fl-asst-viewing-action {
                        flex: 0 0 auto;
                        display: flex;
                        align-items: stretch;

                        .fl-asst-button {
                            margin:0;
                            padding: var(--fl-asst-half-unit);
                            border-radius: 0;
                            border-top-right-radius: 7px;
                            color: inherit;

                            &:hover {
                                background: rgba(0,0,0,.1);
                            }
                        }
                    }

                    .fl-asst-title,
                    .fl-asst-pretitle {
                        color: inherit;
                    }
                }
                .fl-asst-tile-toolbar {
                    background: rgba(0,0,0,.1);
                    border-bottom-left-radius: 7px;
                    border-bottom-right-radius: 7px;

                    .fl-asst-button {
                        color:white;
                        height: 36px;
                        padding: 2px 7px;
                        margin:0;
                        border-radius: 0;

                        &:first-child {
                            padding-left: var(--fl-asst-half-unit);
                            border-bottom-left-radius: 7px;
                        }

                        &:hover {
                            text-decoration: none;
                            background: rgba(0,0,0,.1);
                        }
                    }
                }
            }
        }
    }
}
