.fluid {

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: var(--fl-asst-text-color);
        text-transform: none;
        text-decoration: none;
        text-shadow: none;
        margin: 0 0 var(--fluid-med-space);

        abbr {
            display: flex;
            text-decoration: none;
            margin-left: 5px;
            color: var(--fl-asst-base-art-color);
        }
    }

    // Things that look like a text field
    .fl-asst-form-input,
    input,
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea,
    select {
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        height: auto;
        flex: 1 1 auto;
        font-family: inherit;
        font-size: inherit;
        font-weight: normal;
        line-height: inherit;
        letter-spacing: normal;
        text-align: left;
        margin: 0;
        padding: var(--fluid-sm-space);
        color: inherit;
        border-radius: var(--fluid-radius);
        border:none;
        outline: none;
        background-color: var(--fluid-transparent-13);
        box-shadow: inset 0px 0px 0px 1.5px var(--fluid-line-color);
        min-height: var(--fluid-target-size);

        // Yes, these have to be separate rules.
        &::-webkit-input-placeholder{
            text-align: left;
            color: var(--fluid-muted-text-color);
        }
        &::-ms-input-placeholder{
            text-align: left;
            color: var(--fluid-muted-text-color);
        }
        &::placeholder {
            text-align: left;
            color: var(--fluid-muted-text-color);
        }

        &:focus,
        &:invalid {
            background-color: var(--fluid-box-background);
            border: none;
            outline: none;
            box-shadow: inset 0px 0px 0px 1.5px var(--fluid-background),
                        0px 0px 0px 1.5px var(--fluid-accent);


            &::-webkit-input-placeholder{
                text-align: left;
                color: var(--fluid-color);
            }
            &::-ms-input-placeholder{
                text-align: left;
                color: var(--fluid-color);
            }
            &::placeholder {
                text-align: left;
                color: var(--fluid-color);
            }
        }
    }

    input[type="range"] {
        -webkit-appearance: slider-horizontal;
    }
    input[type="checkbox"],
    input[type="radio"] {
        -moz-appearace: none;
        -webkit-appearance: none;
        flex: 0 0 auto;
        margin: 0;
        margin-right: var(--fluid-med-space);
        color: white;
        width: 22px;
        height: 22px;
        max-width: 22px;
        max-height: 22px;
        min-height: 0;
        min-width: 0;
        border-radius: var(--fluid-radius);
        box-shadow: none;
        border: none;
        background-color: var(--fluid-transparent-11);

        &:focus {
            box-shadow: inset 0px 0px 0px 1.5px var(--fluid-background),
                        0px 0px 0px 1.5px var(--fluid-accent);
        }

        &:checked {
            background-color: var(--fluid-blue);
            box-shadow: none;

            &:focus {
                box-shadow: inset 0px 0px 0px 1.5px var(--fluid-background),
                            0px 0px 0px 1.5px var(--fluid-accent);
            }

            &:after {
                display: block;
                content: "\2713";
                color: white;
                font-family: var(--fluid-font-family);
                font-size: 16px !important;
                line-height: 1;
                font-weight: bold;
                text-align: center;
                margin-left: -1px;
                margin-top: -3px;
            }
            &:before {
                content: '' !important;
                display: none !important;
            }
        }
    }

    input[type="radio"] {
        border-radus: 50%;
    }

    input[disabled],
    select[disabled],
    textarea[disabled],
    [aria-disabled=true],
    .fluid-is-disabled {
        pointer-events: none;
        opacity: .5;
        font-style: italic;
        color: var(--fluid-muted-text-color);
    }

    select {
        padding: var(--fluid-sm-space);
        padding-right: 30px;

        &:focus {
            background-color: var(--fluid-box-background);
            color: var(--fluid-color) !important;
            border: none;
            outline: none;
            box-shadow: inset 0px 0px 0px 2px var(--fluid-box-background),
                        0px 0px 0px 1.5px var(--fluid-accent);
        }

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
        &::-ms-expand {
            display: none;
        }

        &[multiple] {
            height: auto;
            padding: 10px 7px 0;
            background-image: none;

            option {
                padding: 2px 7px;
                margin: 1px 0;
                border-radius: 3px;
                font-weight: normal;
            }
        }
    }

    @supports( -webkit-appearance: none ) {
        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E');
        	background-repeat: no-repeat;
        	background-position: right 10px center;
        	background-size: 14px;
            padding-right: 30px;
        }

        // Hide arrow in IE
        select::-ms-expand {
        	display: none;
        }
    }

    .fluid-color-scheme-dark {
        .fl-asst-form-input,
        input,
        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="password"],
        input[type="search"],
        input[type="number"],
        input[type="tel"],
        input[type="date"],
        input[type="month"],
        input[type="week"],
        input[type="time"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="color"],
        textarea,
        select {
            background-color: var(--fluid-transparent-1);
        }

        input[type="checkbox"],
        input[type="radio"] {
            background-color: var(--fluid-opaque-0);

            &:checked {
                background-color: var(--fluid-blue);
            }
        }
    }
}
