:root {
    --fluid-hue: 210;
    --fluid-background: hsl( var(--fluid-hue), 40%, 100% ); // white
    --fluid-color: hsl( var(--fluid-hue), 40%, 0% ); // black

    // Dark Colors
    --fluid-dark-background: hsl( var(--fluid-hue), 13%, 16%);
    --fluid-dark-color: hsl( var(--fluid-hue), 15%, 90%);

    // Box Colors
    --fluid-box-background: hsl( var(--fluid-hue), 40%, 96%);
    --fluid-box-color: hsl( var(--fluid-hue), 40%, 0% );
    --fluid-box-hover-background: hsl( var(--fluid-hue), 37%, 92%);;

    // Primary Colors
    --fluid-primary-background: #EFF8FF;
    --fluid-primary-color: #006AD4;
    --fluid-primary-hover-background: #D8ECFF;

    // Alert Colors
    --fluid-alert-background: #FEF4EA;
    --fluid-alert-color: #A95700;
    --fluid-alert-hover-background: #FCE3CA;

    // Destructive Colors
    --fluid-destructive-background: #FEF3F1;
    --fluid-destructive-color: #BC0A00;
    --fluid-destructive-hover-background: #F9DAD4;

    // Accent Color
    --fluid-accent: hsl( var(--fluid-hue), 100%, 43%);

    // Dimmed/Muted Text
    --fluid-muted-text-color: hsl( var(--fluid-hue), 18%, 60% );

    // Outlines and Separators
    --fluid-line-color: #F1F5F9;
    --fluid-dark-line-color: black;

    // Spacing
    --fluid-sm-space: 5px;
    --fluid-med-space: 10px;
    --fluid-lg-space: 20px;

    // Base Sizes
    --fluid-radius: 5px;
    --fluid-target-size: 36px; // Minimum click target
    --fluid-font-size: 13px;
    --fluid-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.fluid {
    color: var(--fluid-color);
    font-family: var(--fluid-font-family);
    font-size: var(--fluid-font-size);
    font-weight: normal;
    line-height: 1.2;

    // Reset
    div, span { box-sizing: border-box; }

    // Media
    img {
        display: block;
        max-width: 100%;
        object-fit: cover;
        height: auto;
        width: auto;
    }
    video { display: block; }
    svg { display: inline-block; }

    // General Content
    a, button {
        box-sizing: border-box;
        -moz-user-select:none; // Yep, still need it.
        user-select: none;
        cursor: pointer;
        letter-spacing: normal;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: transparent;
        border: none;
        border-radius: var(--fluid-radius);
        user-select: none;
        padding:0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
            color: inherit;
            top:0;
            box-shadow: none;
            border: none;
            background: transparent;
        }
        &:focus {
            color: inherit;
            top:0;
            border: none;
        }

        &[ disabled ] {
            color: inherit;
            opacity: .5;
            pointer-events: none;
        }

        &:visited {
            color: inherit;
        }
    }
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    button {
        min-height: var(--fluid-target-size);
        min-width: var(--fluid-target-size);

        &:focus {
            box-shadow: 0px 0px 0px 2px rgba(128, 128, 128, .5);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: inherit;
        margin: var(--fluid-med-space) 0;

        &::before {
            all: unset !important;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    h1 {
        font-size: calc( var(--fluid-font-size) + 6px );
    }
    h2 {
        font-size: calc( var(--fluid-font-size) + 2px );
    }
    p {
        font-size: calc( var(--fluid-font-size) + 1px );
        margin: var(--fluid-lg-space) 0;
    }

    ul, ol {
        list-style:none;
        margin: var(--fluid-med-space) 0;
        padding:0;

        li {
            margin:0;
            padding:0;
        }
    }

    .fluid-status-primary {
        --fluid-box-background: var(--fluid-primary-background);
        --fluid-box-color: var(--fluid-primary-color);
        --fluid-box-hover-background: var(--fluid-primary-hover-background);

        color: var(--fluid-box-color);
    }
    .fluid-status-alert {
        --fluid-box-background: var(--fluid-alert-background);
        --fluid-box-color: var(--fluid-alert-color);
        --fluid-box-hover-background: var(--fluid-alert-hover-background);
        --fluid-accent: var(--fluid-alert-color);

        color: var(--fluid-box-color);
    }
    .fluid-status-destructive {
        --fluid-box-background: var(--fluid-destructive-background);
        --fluid-box-color: var(--fluid-destructive-color);
        --fluid-box-hover-background: var(--fluid-destructive-hover-background);
        --fluid-accent: var(--fluid-destructive-color);

        color: var(--fluid-box-color);
    }

    &.fluid-color-scheme-dark {
        --fluid-background: var(--fluid-dark-background);
        --fluid-color: var(--fluid-dark-color);
        // Accent Color
        --fluid-accent: #ffffff;
        --fluid-line-color: var(--fluid-dark-line-color);

        // Box Colors
        --fluid-box-background: hsl( var(--fluid-hue), 17%, 5%);
        --fluid-box-color: hsl( var(--fluid-hue), 11%, 65%);
        --fluid-box-hover-background: hsl( var(--fluid-hue), 17%, 10%);

        // Primary Colors
        --fluid-primary-background: hsl(206, 100%, 9%);
        --fluid-primary-color: hsl(210, 100%, 80%);
        --fluid-primary-hover-background: hsl(206, 80%, 14%);

        // Alert Colors
        --fluid-alert-background: hsl(31, 55%, 10%);
        --fluid-alert-color: hsl(31, 100%, 72%);
        --fluid-alert-hover-background: hsl(31, 45%, 14%);

        // Destructive Colors
        --fluid-destructive-background: hsl(0, 100%, 7%);
        --fluid-destructive-color: hsl(3, 100%, 67%);
        --fluid-destructive-hover-background: hsl(0, 80%, 12%);
    }
}
