:root {
    --fluid-hue: 210;

    // Opaque Scale
    --fluid-opaque-0: black;
    --fluid-opaque-1: hsl( var(--fluid-hue), 10%, 10% );
    --fluid-opaque-2: hsl( var(--fluid-hue), 10%, 15% );
    --fluid-opaque-3: hsl( var(--fluid-hue), 10%, 20% );
    --fluid-opaque-4: hsl( var(--fluid-hue), 10%, 25% );
    --fluid-opaque-5: hsl( var(--fluid-hue), 10%, 30% );
    --fluid-opaque-6: hsl( var(--fluid-hue), 10%, 35% );
    --fluid-opaque-7: hsl( var(--fluid-hue), 10%, 50% ); // Middle Grey
    --fluid-opaque-8: hsl( var(--fluid-hue), 27%, 87% );
    --fluid-opaque-9: hsl( var(--fluid-hue), 33%, 89% );
    --fluid-opaque-10: hsl( var(--fluid-hue), 33%, 91% );
    --fluid-opaque-11: hsl( var(--fluid-hue), 33%, 93% );
    --fluid-opaque-12: hsl( var(--fluid-hue), 33%, 95% );
    --fluid-opaque-13: hsl( var(--fluid-hue), 33%, 98% );
    --fluid-opaque-14: white;

    // Transparent Scale
    // There is no level 0 - black
    --fluid-transparent-1: hsla( var(--fluid-hue), 10%, 12%, 80% );
    --fluid-transparent-2: hsla( var(--fluid-hue), 10%, 19%, 80% );
    --fluid-transparent-3: hsla( var(--fluid-hue), 10%, 25%, 80% );
    --fluid-transparent-4: hsla( var(--fluid-hue), 10%, 31%, 80% );
    --fluid-transparent-5: hsla( var(--fluid-hue), 10%, 38%, 80% );
    --fluid-transparent-6: hsla( var(--fluid-hue), 10%, 44%, 80% );
    // There is no level 7 - middle grey
    --fluid-transparent-8: hsla( var(--fluid-hue), 27%, 84%, 80% );
    --fluid-transparent-9: hsla( var(--fluid-hue), 33%, 86%, 80% );
    --fluid-transparent-10: hsla( var(--fluid-hue), 33%, 89%, 80% );
    --fluid-transparent-11: hsla( var(--fluid-hue), 34%, 90%, 80% );
    --fluid-transparent-12: hsla( var(--fluid-hue), 38%, 94%, 80% );
    --fluid-transparent-13: hsla( var(--fluid-hue), 38%, 98%, 80% );
    // There is no level 14 - white

    // Blue Scale
    --fluid-blue-hue: 210;
    --fluid-blue-0: black;
    --fluid-blue-1: hsl( var(--fluid-blue-hue), 100%, 10% );
    --fluid-blue-2: hsl( var(--fluid-blue-hue), 100%, 15% );
    --fluid-blue-3: hsl( var(--fluid-blue-hue), 100%, 20% );
    --fluid-blue-4: hsl( var(--fluid-blue-hue), 100%, 25% );
    --fluid-blue-5: hsl( var(--fluid-blue-hue), 100%, 30% );
    --fluid-blue-6: hsl( var(--fluid-blue-hue), 100%, 35% );
    --fluid-blue-7: hsl( var(--fluid-blue-hue), 100%, 45% ); // Main Blue
    --fluid-blue-8: hsl( var(--fluid-blue-hue), 100%, 87% );
    --fluid-blue-9: hsl( var(--fluid-blue-hue), 100%, 89% );
    --fluid-blue-10: hsl( var(--fluid-blue-hue), 100%, 91% );
    --fluid-blue-11: hsl( var(--fluid-blue-hue), 100%, 93% );
    --fluid-blue-12: hsl( var(--fluid-blue-hue), 100%, 95% );
    --fluid-blue-13: hsl( var(--fluid-blue-hue), 100%, 98% );
    --fluid-blue-14: white;


    /**
    * Dynamic Colors - Colors that change depending on color scheme & context
    */

    // Light Colors
    --fluid-background: var(--fluid-opaque-14); // white
    --fluid-color: var(--fluid-opaque-0); // black

    // Dark Colors
    --fluid-dark-background: var(--fluid-opaque-2);
    --fluid-dark-color: var(--fluid-opaque-11);

    // Box Colors
    --fluid-box-background: var(--fluid-transparent-12);
    --fluid-box-color: var(--fluid-opaque-3);
    --fluid-box-hover-background: var(--fluid-transparent-10);
    --fluid-box-hover-color: var(--fluid-opaque-0);

    // Primary Colors
    --fluid-primary-background: #EFF8FF;
    --fluid-primary-color: #006AD4;
    --fluid-primary-hover-background: #D8ECFF;

    // Alert Colors
    --fluid-alert-background: #FEF4EA;
    --fluid-alert-color: #A95700;
    --fluid-alert-hover-background: #FCE3CA;

    // Destructive Colors
    --fluid-destructive-background: #FEF3F1;
    --fluid-destructive-color: #BC0A00;
    --fluid-destructive-hover-background: #F9DAD4;

    // Accent Color
    --fluid-accent: hsl( var(--fluid-hue), 100%, 43%);

    // Dimmed/Muted Text
    --fluid-muted-text-color: var(--fluid-opaque-7);

    // Outlines and Separators
    --fluid-line-color: var(--fluid-transparent-11);
    --fluid-dark-line-color: var(--fluid-opaque-0);

    // Spacing
    --fluid-sm-space: 5px;
    --fluid-med-space: 10px;
    --fluid-lg-space: 20px;

    // Base Sizes
    --fluid-radius: 5px;
    --fluid-target-size: 36px; // Minimum click target
    --fluid-font-size: 13px;
    --fluid-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.fluid {
    color: var(--fluid-color);
    font-family: var(--fluid-font-family);
    font-size: var(--fluid-font-size);
    font-weight: normal;
    line-height: 1.2;

    // Reset
    * {
        box-sizing: border-box;
    }

    // Media
    img {
        display: block;
        max-width: 100%;
        object-fit: cover;
        height: auto;
        width: auto;
        border: 0;
    }
    video { display: block; }
    svg { display: block; }

    // General Content
    a, button {
        box-sizing: border-box;
        -moz-user-select:none; // Yep, still need it.
        user-select: none;
        cursor: pointer;
        letter-spacing: normal;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: transparent;
        border: none;
        border-radius: var(--fluid-radius);
        user-select: none;
        padding:0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
            color: inherit;
            top:0;
            box-shadow: none;
            border: none;
            background: transparent;
        }
        &:focus {
            color: inherit;
            top:0;
            border: none;
        }
        &[disabled] {
            color: inherit;
            opacity: .6;
            pointer-events: none;
        }
        &:visited {
            color: inherit;
        }
    }
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    button {
        min-height: var(--fluid-target-size);
        min-width: var(--fluid-target-size);

        &:focus {
            box-shadow: 0px 0px 0px 2px rgba(128, 128, 128, .5);
        }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    pre,
    form,
    table {
        margin: var(--fluid-lg-space) 0;

        &:first-child {
            margin-top: 0;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        color: inherit;
        font-family: var(--fluid-font-family);
        font-weight: normal;

        &::before {
            all: unset !important;
        }
    }
    h1 {
        font-size: calc( var(--fluid-font-size) + 14px );
    }
    h2 {
        font-size: calc( var(--fluid-font-size) + 10px );
    }
    h3 {
        font-size: calc( var(--fluid-font-size) + 6px );
    }

    p {
        font-size: 16px;
        line-height: 1.3;
    }

    ul, ol {
        list-style:none;
        margin: var(--fluid-med-space) 0;
        padding:0;

        li {
            margin:0;
            padding:0;
        }
    }

    table {
        font-size: var(--fluid-font-size);
        width: 100%;
        border-collapse: collapse;
        border: none;

        th, td {
            text-align: left;
            padding: var(--fluid-sm-space) var(--fluid-med-space);
            border: none;
            border-right: 2px solid var(--fluid-line-color);

            &:first-child {
                border-top-left-radius: var(--fluid-radius);
                barder-bottom-left-radius: var(--fluid-radius);
            }

            &:last-child {
                border-right: 0;
                border-top-right-radius: var(--fluid-radius);
                barder-bottom-right-radius: var(--fluid-radius);
            }
        }

        tr:nth-child(even) {
            th, td {
                background: var(--fluid-opaque-13);
            }
        }
    }

    &.fluid-color-scheme-dark {
        --fluid-background: var(--fluid-dark-background);
        --fluid-color: var(--fluid-dark-color);
        --fluid-line-color: var(--fluid-dark-line-color);

        // Box Colors
        --fluid-box-background: var(--fluid-opaque-1);
        --fluid-box-color: var(--fluid-dark-color);
        --fluid-box-hover-background: var(--fluid-opaque-3);

        // Primary Colors
        --fluid-primary-background: hsl(206, 100%, 9%);
        --fluid-primary-color: hsl(210, 100%, 80%);
        --fluid-primary-hover-background: hsl(206, 80%, 14%);

        // Alert Colors
        --fluid-alert-background: hsl(31, 55%, 10%);
        --fluid-alert-color: hsl(31, 100%, 72%);
        --fluid-alert-hover-background: hsl(31, 45%, 14%);

        // Destructive Colors
        --fluid-destructive-background: hsl(0, 100%, 7%);
        --fluid-destructive-color: hsl(3, 100%, 67%);
        --fluid-destructive-hover-background: hsl(0, 80%, 12%);
    }
}
