.fl-asst {
	.fl-asst-count-grid {
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 8px;
		grid-template-columns: auto 1fr;
		align-items: baseline;
		line-height: 1.1;

		.fl-asst-count-metric {
			min-width: 2ch;
			font-size: 18px;
			color: var(--fluid-blue);
			text-align: right;
		}
	}
}
