.fl-asst-panel-header {
    flex: 0 0 auto;
    box-shadow: 0px 2px 0px var(--fl-asst-overlay-background-color);
    z-index: 1;

    .fl-asst-app-header {
        position: relative;
        min-height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding-top:2px;

        .fl-asst-app-title {
            font-size: 16px;
            font-weight: 500;
            color: var(--fl-title-color);
        }

        .fl-asst-app-header-content,
        .fl-asst-app-header-content-expanded {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            min-height: 32px;
            margin-bottom: 20px;
        }
        .fl-asst-app-header-content {
            padding: 0 15px 0;
            min-height: 36px;
        }
        .fl-asst-app-header-content-expanded {
            flex-direction: column;
            position: relative;
            overflow: hidden;
            align-items: stretch;
            justify-content: flex-start;
        }

        .fl-asst-app-header-control {
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .fl-asst-button-expand-bar {
                margin:0;
                flex: 1 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 4px;
                color: var(--fl-asst-base-art-color);

                &:hover {
                    background: rgba( 0,0,0,.05);
                }

                &:focus {
                    border-color: transparent;
                    color: var(--fl-accent-color);
                }
            }
        }
    }
}
