.fluid {
    .fluid-loading-bar {
        flex: 1 1 auto;
        border-radius: 10px;
        min-height: 20px;
        padding: var(--fluid-sm-space);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .fluid-dot {
            display: inline-flex;
            flex: 0 0 auto;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            margin: 0 3px;
            background: var(--fluid-accent);

            -webkit-animation: fl-asst-dot-bounce 1.4s infinite ease-in-out both;
            animation: fl-asst-dot-bounce 1.4s infinite ease-in-out both;

            &:first-child {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }
            &:nth-child( 2n + 2 ) {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }
        }
    }

    @-webkit-keyframes fl-asst-dot-bounce {
        0%, 80%, 100% {
            -webkit-transform: scale(0)
        }
        40% {
            -webkit-transform: scale(1.0)
        }
    }

    @keyframes fl-asst-dot-bounce {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }
}
