.fl-asst-widget {
    padding: var(--fl-asst-base-padding);

    .fl-asst-widget-title {
        margin-bottom: calc( var(--fl-asst-base-padding) / 2 );
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        -webkit-user-select:none;
        user-select: none;
    }

    &.fl-asst-widget-no-padding {
        padding:0;

        .fl-asst-widget-title {
            padding: var(--fl-asst-base-padding) var(--fl-asst-base-padding) 0;

            display: flex;
            flex-direction: row;
            align-items: center;

            .fl-asst-widget-title-actions {
                flex: 0 0 auto;
                margin-left: auto;
            }
        }
    }
}
