.fl-asst {
    .fl-asst-inline-item {

        .fl-asst-list-item-thumbnail {
            background-color: var(--fluid-blue-13);
            color: var(--fluid-blue-7);
        }
        .fl-asst-list-item-subject {
            margin: auto;
        }
    }
    .fl-asst-inline-create-item {
        &:focus-within {
            box-shadow: inset 3px 0 0 var(--fluid-blue-7);
        }

        .fl-asst-form-input {
            font-weight: 500;
            font-size: 14px;
            font-style: italic;
            color: var(--fluid-blue-6);

            &:focus {
                color: var(--fluid-color);
            }

            input {
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    opacity: 1;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    opacity: 1;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    opacity: 1;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    opacity: .1;
                }
            }
        }
    }
    .fluid-color-scheme-dark {
        .fl-asst-inline-item {
            .fl-asst-list-item-thumbnail {
                background-color: var(--fluid-blue-1);
                color: var(--fluid-blue-7);
            }
        }
        .fl-asst-inline-create-item {
            .fl-asst-form-input {
                color: var(--fluid-blue-11);
            }
        }
    }
}
