.fl-asst {
	.home-stats-section {
		--stroke-weight: 1px;
		--space-around: 20px;

		.fl-asst-swiper-scroller {

			/* Create space for box shadow - extra pixel #causebrowsers... */
			padding-top: calc( var(--stroke-weight) + 1px );
			padding-bottom: calc( var(--stroke-weight) + 1px );

			.fl-asst-swiper-item {
				width: auto;
				/* using box shadow instead of border because it can display half pixels */
				//box-shadow: 0 0 0 var(--stroke-weight) var(--fluid-color);
				min-height: 80px;
				margin-right: 0;
				border-right: 2px solid var(--fluid-opaque-10);
				padding: 0 40px;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					border-right: none;
				}
			}
		}

		.home-stat-card {
			display: grid;
			grid-auto-flow: column;
			grid-template-rows: 1fr 1fr;
			grid-gap: var(--space-around);
			align-items: end;
		}
		.home-stat-count {
			display: flex;
			flex-direction: column;
			font-size: 12px;

			.home-stat-total {
				font-size:2em;
			}
			.home-stat-label {
				font-size: 1em;
				margin-top: 2px;
			}
		}

		.home-currently-viewing {
			display: flex;
			flex-direction: column;
			flex: 0 0 auto !important;
			max-width: 85%;
			font-size: 13px;
			padding-bottom: 10px;

			.home-currently-viewing-eyebrow {
				font-size: 1em;
				margin-bottom: 5px;
			}
			.home-currently-viewing-title {
				font-size: 1.75em;
				margin-bottom: 5px;
			}
			.home-currently-viewing-actions {
				display: flex;
				flex-direction: row;
				margin-top: auto;
				margin-left: -10px;
			}
		}
	}
}
