.fl-asst {
    line-height: 1;

    a, button {
        box-sizing: border-box;
        -moz-user-select:none; // Yep, still need it.
        user-select: none;
        cursor: pointer;
        letter-spacing: normal;

        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
        }
    }
    a {
        text-decoration: underline;

        &:hover {
            background: none;
        }
    }
    div {
        box-sizing: border-box;
    }
}
