:root {
    // Light Colors
    --fl-asst-light-1: white;
    --fl-asst-light-2: hsl(214, 3%, 98%);
    --fl-asst-light-3: hsl(214, 15%, 96%);
    --fl-asst-light-4: hsl(214, 35%, 92%);
    --fl-asst-light-5: hsl(214, 35%, 86%);

    --fl-asst-light-text: black;
    --fl-asst-light-subtext: var(--fl-asst-dark-2);
    --fl-asst-light-translucent: hsla(214, 30%, 92%, .96);

    // Darks
    --fl-asst-dark-1: hsl(210, 17%, 5%);
    --fl-asst-dark-2: hsl(210, 13%, 16%);
    --fl-asst-dark-3: hsl(210, 12%, 28%);
    --fl-asst-dark-4: hsl(210, 11%, 44%);
    //--fl-asst-dark-5: hsl(210, 10%, 55%); // Using?
    --fl-asst-dark-text: hsl(214, 15%, 90%);
    --fl-asst-dark-subtext: var(--fl-asst-light-3);
    --fl-asst-dark-translucent: hsla(210, 17%, 12%, .96);

    // Sizes
    --fl-asst-base-radius: 7px;
    --fl-asst-target-size: 32px; // Smallest actionable area

    // Spacing
    --fl-asst-large-space: 30px;
    --fl-asst-medium-space: 15px;
    --fl-asst-small-space: 10px;
    --fl-asst-tiny-space: 5px;

    --fl-asst-outer-space: 20px;
    --fl-asst-inner-space: 15px;

    // Typograpy
    --fl-asst-base-text-size: 13px;
    --fl-asst-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.fl-asst {
    font-family: var(--fl-asst-font-family);
    font-size: var(--fl-asst-base-text-size);

    & * {
        box-sizing: border-box;
        line-height: 1.3;
    }

    // Visuals
    img {
        display: block;
        max-width: 100%;
        object-fit: cover;
        height: auto;
        width: auto;
    }
    video {
        display: block;
    }
    svg {
        display: inline-block;
    }

    a, button {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: transparent;
        border: none;
        border-radius: var(--fl-asst-base-radius);
        user-select: none;
        padding:0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
            color: inherit;
            top:0;
            box-shadow: none;
            border: none;
            background: transparent;
        }
        &:focus {
            color: inherit;
            top:0;
            border: none;
        }

        &[disabled] {
            color: inherit;
            opacity: .5;
            pointer-events: none;
        }

        &:visited {
            color: inherit;
        }
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    button {
        min-height: var(--fl-asst-target-size);
        min-width: var(--fl-asst-target-size);

        &:focus {
            box-shadow: 0px 0px 0px 2px rgba(128, 128, 128, .5);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: inherit;
        margin: var(--fl-asst-inner-space) 0;

        &::before {
            all: unset !important;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    h1 {
        font-size: calc( var(--fl-asst-base-text-size) + 6px );
    }
    h2 {
        font-size: calc( var(--fl-asst-base-text-size) + 2px );
    }
    p {
        font-size: var(--fl-asst-base-text-size);
        margin: var(--fl-asst-outer-space) 0;
    }

    ul, ol {
        list-style:none;
        margin: var(--fl-asst-inner-space) 0;
        padding:0;

        li {
            margin:0;
            padding:0;
        }
    }

    // Dividers - generally should be <hr/>
    hr {
        all: initial;
        display: block;
        background-color: var(--fl-asst-secondary-surface-background);
        background-image: none;
        height: 2px;
        width: auto;
        border-radius: 2px;
        margin: 0;

        &.fl-asst-divider::before,
        &.fl-asst-divider::after {
            display:none !important;
            content: '' !important;
        }

        &.fl-asst-shortie-divider {
            height: 3px;
            width: 100px;
            margin: 0 auto;
            border-radius: 3px;
        }
    }
    .fl-asst-divider.fl-asst-horizontal-divider {
        box-sizing: border-box;
        background: var(--fl-asst-surface-background);
    }
    .fl-asst-divider.fl-asst-vertical-divider {
        box-sizing: border-box;
        background: var(--fl-asst-surface-background);
        width: 2px;
        height: auto;
    }

    // Helpers
    .fl-asst-is-hidden { visibility: hidden; }

    .fl-asst-rounded { border-radius: var(--fl-asst-base-radius); }

    .fl-asst-padded { padding: var(--fl-asst-outer-space); }

    // Brightness Setups
    .fl-asst-appearance {

        // Semantic Color Defaults - Light Appearance
        --fl-asst-surface-color: var(--fl-asst-light-text);
        --fl-asst-surface-background: var(--fl-asst-light-1);

        --fl-asst-accent-color: var(--fl-asst-light-text);
        --fl-asst-line-color: var(--fl-asst-surface-color);

        &.fl-asst-brightness-light {
            --fl-asst-surface-color: var(--fl-asst-light-text);
            --fl-asst-surface-background: var(--fl-asst-light-1);

            --fl-asst-secondary-surface-color: var(--fluid-box-color);
            --fl-asst-secondary-surface-background: var(--fluid-box-background);

            --fl-asst-translucent-background: var(--fl-asst-light-translucent);
            --fl-asst-dim-text: var(--fl-asst-dark-5);

            --fl-asst-alt-row-background: hsla(214, 30%, 92%, .3); // transparent version of light-4
        }

        &.fl-asst-brightness-dark {
            --fl-asst-surface-color: var(--fl-asst-dark-text);
            --fl-asst-surface-background: var(--fl-asst-dark-2);

            --fl-asst-secondary-surface-color: var(--fl-asst-light-4);
            --fl-asst-secondary-surface-background: var(--fl-asst-dark-1);

            --fl-asst-accent-color: var(--fl-asst-dark-text);

            --fl-asst-translucent-background: var(--fl-asst-dark-translucent);
            --fl-asst-dim-text: var(--fl-asst-light-5);

            --fl-asst-alt-row-background: hsla(0,0%,0%,.15);
        }
    }

    // Surfaces and content areas
    .fl-asst-surface,
    .fl-asst-primary-content {
        background-color: var(--fl-asst-surface-background);
        color: var(--fl-asst-surface-color);
        transition: background-color .15s, color .15s;
    }
    .fl-asst-secondary-surface,
    .fl-asst-secondary-content {
        background-color: var(--fl-asst-secondary-surface-background);
        color: var(--fl-asst-secondary-surface-color);
        transition: background-color .15s, color .15s;
    }
    &.fl-asst-brightness-dark {

        .fl-asst-secondary-surface,
        .fl-asst-secondary-content {
            background-color: var(--fl-asst-dark-3);
            color: var(--fl-asst-surface-color);
        }
	}

}
