.fl-asst {
    .fl-asst-card.fl-asst-card-type-fl-shortcuts {
        background: transparent;
        box-shadow: none;

        .fl-asst-card-content {
            display: grid;
            grid-template-columns: repeat( auto-fit, 50px );
            grid-auto-rows: 50px;
            grid-gap: 5px;
        }

        .fluid-button {
            background-color: var(--fluid-background);
            box-shadow: 0 6px 12px rgba( 0, 0, 0, .03 );
        }
    }
}
