.fl-asst-file-drop {
    flex: 1 1 auto;
}

.fl-asst-file-drop-dragging-view {
    display: flex;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: var(--fl-background-color);
    opacity: 0;
    pointer-events: none;
}

.fl-asst-file-drop-is-dragging {
    .fl-asst-file-drop-dragging-view {
        opacity: 1;
        pointer-events: none;
    }
    .fl-asst-file-drop-content-view {
        pointer-events: none;
    }
}

.fl-asst-file-uploading {
	display: flex;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: var(--fl-background-color);
    pointer-events: none;

	svg {
		margin: auto;
	}
}
