.screen-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    transform-origin: bottom right;
    max-height: 40vh;
}
.app-screen {
    flex: 1 1 auto;
    width: 100%;
    padding: 15px;
    overflow: auto;
    color: white;

    h1 {
        color: inherit;
        margin:0;

        &:before {
            display: none !important;
        }
    }

    a,
    a:visited {
        color: inherit;
        margin: 10px 0;
    }

    button {
        color: inherit;
        padding:10px;
        border-radius: 7px;
        background: #1B1F23;
        border: none;
    }
}

.app-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .app-grid-item {
        flex: 0 0 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 15px;

        .icon {
            width: 50px;
            height: 50px;
            border-radius: 15px;
            background-color: #7A8998;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            .icon {
                transform: scale(1.1);
            }
        }

        label {
            font-size: 12px;
            color:white;
            margin-top: 5px;
            text-align: center;
        }
    }
}

@supports( display: grid ) {
    .app-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
