.fl-asst {

    input {
        font-family: inherit;
        font-size: inherit;
        font-weight: normal;
        line-height: inherit;
        text-align: left;

        flex: 1 1 100%;
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: var(--fl-asst-tiny-space);
        color: var(--fl-asst-secondary-surface-color);
        background-color: var(--fl-asst-secondary-surface-background);
        border-radius: var(--fl-asst-base-radius);
        border:none;
        min-height: var(--fl-asst-target-size);

        // Yes, these have to be separate rules.
        &::-webkit-input-placeholder{
            text-align: center;
            color: var(--fl-asst-dim-text);
        }
        &::-ms-input-placeholder{
            text-align: center;
        }
        &::placeholder {
            text-align: center;
        }

        &:focus {
            &::-webkit-input-placeholder{
                text-align: left;
            }
            &::-ms-input-placeholder{
                text-align: left;
            }
            &::placeholder {
                text-align: left;
            }
        }
    }
}
