.fl-asst {

    // Light Colors
    --fl-asst-light-1: white;
    --fl-asst-light-2: hsl(214, 3%, 98%);
    --fl-asst-light-3: hsl(214, 4%, 96%);
    --fl-asst-light-4: hsl(214, 4%, 92%);
    --fl-asst-light-5: hsl(214, 4%, 86%);
    --fl-asst-light-text: black;
    --fl-asst-light-subtext: var(--fl-asst-dark-2);

    // Darks
    --fl-asst-dark-1: hsl(210, 17%, 12%);
    --fl-asst-dark-2: hsl(210, 13%, 20%);

    --fl-asst-dark-3: hsl(210, 12%, 28%);
    --fl-asst-dark-4: hsl(210, 11%, 44%);
    --fl-asst-dark-5: hsl(210, 10%, 55%);
    --fl-asst-dark-text: white;
    --fl-asst-dark-subtext: var(--fl-asst-light-3);

    // Sizes
    --fl-asst-base-radius: 7px;
    --fl-asst-target-size: 32px; // Smallest actionable area

    // Spacing
    --fl-asst-large-space: 30px;
    --fl-asst-medium-space: 15px;
    --fl-asst-small-space: 10px;
    --fl-asst-tiny-space: 5px;

    // Typograpy
    --fl-asst-base-text-size: 14px;
    --fl-asst-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    font-family: var(--fl-asst-font-family);
    font-size: var(--fl-asst-base-text-size);

    & * {
        box-sizing: border-box;
        line-height: 1.3;
    }

    // Visuals
    img {
        display: block;
        max-width: 100%;
        object-fit: cover;
    }
    video {
        display: block;
    }
    svg {
        display: block;
    }

    a, button {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: transparent;
        border: none;
        border-radius: var(--fl-asst-base-radius);
        min-height: 32px;
        user-select: none;
        padding:0;

        &:hover {
            color: inherit;
            background: rgba(0,0,0,.05);
            top:0;
            box-shadow: none;
        }
        &:focus {
            top:0;
            box-shadow: none;
        }

        &[disabled] {
            opacity: .5;
            pointer-events: none;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: inherit;
        margin: var(--fl-asst-inner-space) 0;

        &::before {
            all: unset !important;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    h1 {
        font-size: calc( var(--fl-asst-base-text-size) + 6px );
    }
    h2 {
        font-size: calc( var(--fl-asst-base-text-size) + 2px );
    }

    ul, ol {
        list-style:none;
        margin: var(--fl-asst-inner-space) 0;
        padding:0;

        li {
            margin:0;
            padding:0;
        }
    }

    // Dividers - generally should be <hr/>
    hr {
        all: initial;
        display: block;
        background-color: black;
        background-image: none;
        height: 2px;
        width: auto;
        border-radius: 2px;
        margin: 0;
    }
    .fl-asst-horizontal-divider {
        box-sizing: border-box;
        background: var(--fl-asst-surface-background);
    }
    .fl-asst-vertical-divider {
        box-sizing: border-box;
        background: var(--fl-asst-surface-background);
        width: 2px;
        height: auto;
    }

    .fl-asst-is-hidden {
        visibility: hidden;
    }

    .fl-asst-appearance {

        // Semantic Color Defaults - Light Appearance
        --fl-asst-surface-color: var(--fl-asst-light-text);
        --fl-asst-surface-background: var(--fl-asst-light-1);

        --fl-asst-accent-color: var(--fl-asst-light-text);
        --fl-asst-line-color: var(--fl-asst-surface-color);

        &.fl-asst-brightness-light {
            --fl-asst-surface-color: var(--fl-asst-light-text);
            --fl-asst-surface-background: var(--fl-asst-light-1);

            --fl-asst-secondary-surface-color: var(--fl-asst-dark-4);
            --fl-asst-secondary-surface-background: var(--fl-asst-light-4);
        }

        &.fl-asst-brightness-dark {
            --fl-asst-surface-color: var(--fl-asst-dark-text);
            --fl-asst-surface-background: var(--fl-asst-dark-2);

            --fl-asst-secondary-surface-color: var(--fl-asst-light-4);
            --fl-asst-secondary-surface-background: var(--fl-asst-dark-1);

            --fl-asst-accent-color: var(--fl-asst-dark-text);
        }

        p {
            font-size: var(--fl-asst-base-text-size);
            margin: var(--fl-asst-outer-space) 0;
        }

        hr {
            background-color: var(--fl-asst-secondary-surface-background);
        }
    }

    .fl-asst-size-compact {
        --fl-asst-outer-space: var(--fl-asst-medium-space);
        --fl-asst-inner-space: var(--fl-asst-small-space);
    }
    .fl-asst-size-normal {
        --fl-asst-outer-space: var(--fl-asst-large-space);
        --fl-asst-inner-space: var(--fl-asst-medium-space);
    }

    .fl-asst-surface {
        background: var(--fl-asst-surface-background);
        color: var(--fl-asst-surface-color);
    }

    .fl-asst-primary-content {
        background-color: var(--fl-asst-surface-background);
        color: var(--fl-asst-surface-color);
        transition: background-color .15s, color .15s;
    }
    .fl-asst-secondary-content {
        background-color: var(--fl-asst-secondary-surface-background);
        color: var(--fl-asst-secondary-surface-color);
        transition: background-color .15s, color .15s;
    }
    &.fl-asst-brightness-dark {
        .fl-asst-secondary-content {
            background-color: var(--fl-asst-dark-3);
            color: var(--fl-asst-surface-color);
        }
    }

    .fl-asst-rounded {
        border-radius: var(--fl-asst-base-radius);
    }

    .fl-asst-padded {
        padding: var(--fl-asst-outer-space);
    }
}
