.fluid {
    .fluid-collection {
        position: relative;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax( 160px, 1fr ) );
        grid-gap: var(--fluid-sm-space);
        padding: var(--fluid-med-space);
        padding-top: 2px;
        margin: 0;

        &.fluid-collection-appearance-list {
            display: flex;
            flex-direction: column;
        }

        .fluid-collection-item {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
        }

        .fluid-collection-item-thumbnail {
            flex: 0 0 auto;
            transition-property: transform;
            transition-duration: .15s;
            transform-origin: top center;
            z-index: 1;

            .fluid-aspect-box {
                border-radius: var(--fluid-radius);
            }
        }

        .fluid-collection-item-text {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .fluid-item-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                max-width: 100%;

                // Icon wrap
                span {
                    margin-right: 5px;
                }

                &.fluid-truncate {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        .fluid-button.fluid-collection-item-primary-action {
            flex: 1 1 auto;
            padding: 10px;

            & > span {
                flex: 1 1 auto;
                flex-direction: column;
                align-items: stretch;
            }

            &:hover {
                background-color: var(--fluid-transparent-13);
                transform: scale(1); // Cancel out scale effect

                .fluid-collection-item-thumbnail {
                    transform: scale(1.02);
                }
            }
        }

        .fluid-collection-item-list-content {
            display: flex;
            flex-direction: row;
            align-items: center;

            .fluid-collection-item-thumbnail {
                width: 60px;
                padding-right: var(--fluid-med-space);
            }
            .fluid-item-title {
                font-size: 14px;
            }
        }
        .fluid-collection-item-grid-content {
            .fluid-collection-item-text {
                padding-top: var(--fluid-sm-space);
            }
            .fluid-item-title {
                font-size: 12px;
            }
        }
    }

    .fluid-color-scheme-dark {
        .fluid-button.fluid-collection-item-primary-action {
            &:hover {
                background-color: var(--fluid-opaque-0);
            }
        }
    }
}
