.fluid {
    .fluid-collection {
        position: relative;
        display: grid;
        grid-template-columns: repeat( 2, minmax( 150px, 1fr ) );
        grid-gap: var(--fluid-lg-space);
        padding: var(--fluid-lg-space);
        padding-top: 2px;
        margin: 0;

		.fluid-truncate {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

        &.fluid-collection-appearance-list {
            display: flex;
            flex-direction: column;
        }

        .fluid-collection-item {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;

			.fluid-collection-item-thumbnail {
				flex: 0 0 auto;
				transition-property: transform;
				transition-duration: .15s;
				transform-origin: top center;
				z-index: 1;
				background: var(--fluid-opaque-12);
				filter: brightness( 0.98 );
			}

			.fluid-collection-item-details {
				flex: 1 1 auto;
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 5px 10px;
				min-height: 50px;

				&.item-has-icon {
					padding-left: 5px;
					padding-right: 5px;
				}

				.fluid-collection-item-text {
					flex: 1 1 auto;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					max-width: 100%;
					min-width: 0;

					.fluid-collection-item-title {
						font-size: 13px;
						flex: 1 1 auto;
						max-width: 100%;
						min-width: 0;
					}
					.fluid-collection-item-subtitle {
						margin-top: 3px;
						font-size: 12px;
						color: var(--fluid-opaque-6);
					}
				}
			}
        }



        .fluid-button.fluid-collection-item-primary-action {
            flex: 1 1 auto;
            padding: 0;
			transition-property: none;
			transform: scale(1);

            & > span {
                flex: 1 1 auto;
                flex-direction: column;
                align-items: stretch;
            }

            &:hover {
                background-color: var(--fluid-transparent-13);
                transform: scale(1); // Cancel out scale effect
            }
        }

        .fluid-collection-item-list-content {
            display: flex;
            flex-direction: row;
            align-items: center;

            .fluid-collection-item-thumbnail {
                width: 60px;
            }
            .fluid-collection-item-details {
                font-size: 14px;
            }
        }
        .fluid-collection-item-grid-content {
			background: var(--fluid-opaque-13);
			border-radius: var(--fluid-radius);
			overflow: hidden;

            .fluid-collection-item-details {
                padding-top: var(--fluid-sm-space);
            }
        }
    }

    .fluid-color-scheme-dark {
        .fluid-button.fluid-collection-item-primary-action {
            &:hover {
                background-color: var(--fluid-opaque-0);
            }
        }
		.fluid-collection-item-grid-content {
			background: var(--fluid-opaque-1);

			.fluid-collection-item-details {
				.fluid-collection-item-subtitle {
					margin-top: 3px;
					font-size: 12px;
					color: var(--fluid-opaque-7);
				}
			}
		}
    }
}
