.fluid {
    .fluid-collection {
		--icon-area: 40px;
		--thumbnail-brightness: 97%;

        position: relative;
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        grid-gap: var(--fluid-lg-space);
        padding: var(--fluid-lg-space);
        padding-top: 2px;
        margin: 0;

        &.fluid-collection-appearance-list {
            display: flex;
            flex-direction: column;
        }

        .fluid-collection-item {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;

        }

        .fluid-collection-item-thumbnail {
            flex: 0 0 auto;
            transition-property: transform;
            transition-duration: .15s;
            transform-origin: top center;
            z-index: 1;

            .fluid-aspect-box {
				-webkit-filter: brightness( var(--thumbnail-brightness) );
				filter: brightness( var(--thumbnail-brightness) );
            }
        }

        .fluid-collection-item-text {
            flex: 1 1 auto;
            display: flex;
			min-height: 50px;

            .fluid-item-title {
				flex: 1 1 auto;
                display: flex;
                flex-direction: column;
				align-items: flex-start;
				justify-content: center;
                max-width: 100%;
				padding: 0 10px;

				.fluid-item-title-text,
				.fluid-item-description {
					line-height: 1;
					word-break: break-word;
					text-align: left;
				}
				.fluid-item-description {
					padding-top: 3px;
					opacity: .7;
				}

                .fluid-truncate {
					max-width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
			&.item-has-icon {
				.fluid-item-title {
					padding-left: 0;
					max-width: calc( 100% - var(--icon-area) );
				}
			}
        }

		.fluid-collection-item-icon {
			flex: 0 0 var(--icon-area);
			width: var(--icon-area);
			min-height: var(--icon-area);
			display: flex;
			justify-content: center;
			align-items: center;
		}

        .fluid-button.fluid-collection-item-primary-action {
            flex: 1 1 auto;
            padding: 0;
			background: var(--fluid-opaque-12);
			border-radius: var(--fluid-radius);
			overflow: hidden;

            & > span {
                flex: 1 1 auto;
                flex-direction: column;
                align-items: stretch;
            }

            &:hover {
                background-color: var(--fluid-transparent-11);
            }
			&:focus {
				box-shadow: 0 0 0 1.5px var(--fluid-background),
							0 0 0 3px var(--fluid-blue);
			}
        }

        .fluid-collection-item-list-content {
            display: flex;
            flex-direction: row;
            align-items: center;

            .fluid-collection-item-thumbnail {
                width: 60px;
                padding-right: var(--fluid-med-space);
            }
            .fluid-item-title {
                font-size: 14px;
            }
        }
        .fluid-collection-item-grid-content {
			display: flex;
			flex-direction: column;

            .fluid-item-title {
                font-size: 12px;
            }
        }
    }

    .fluid-color-scheme-dark {
        .fluid-button.fluid-collection-item-primary-action {
			background: var(--fluid-opaque-1);

            &:hover {
                background-color: var(--fluid-opaque-0);
            }
        }
    }
}
