.fl-asst {
    .fl-asst-card {
        background: var(--fluid-background);
        border-radius: var(--fluid-med-space);
        box-shadow: 0px 9px 18px var(--shadow-color);
        position: relative;

        .fl-asst-card-header {
            min-height: 60px;
            display: flex;
            flex-direction: row;

            .fl-asst-card-thumbnail {
                flex: 0 0 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .fl-asst-card-title-area {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: var(--fluid-med-space) var(--fluid-lg-space);

                .fl-asst-card-title {
                    font-size: 16px;
                    font-weight: 500;
                }
                .fl-asst-card-eyebrow,
                .fl-asst-card-subtitle {
                    font-size: 12px;
                    font-weight: normal;
                    text-transform: uppercase;
                    line-height: 1.5;
                }
            }
            .fl-asst-card-actions {
                flex: 0 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-right: 10px;
            }
        }

        &.fl-asst-card-pad-x {
            .fl-asst-card-content {
                padding-left: var(--fluid-lg-space);
                padding-right: var(--fluid-lg-space);
            }
        }

        .fl-asst-card-footer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}
