.fl-asst {
    .fl-asst-button {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;
        padding: 0 10px;
        background: var(--fl-asst-secondary-surface-background);
        color: var(--fl-asst-secondary-surface-color);
        min-height: var(--fl-asst-target-size);
        text-decoration: none;

        &:focus {
            z-index: 2; // ensure box shadow doesn't get obscured
            outline: none;
            color: var(--fl-asst-surface-color);
            box-shadow: 0px 0px 0px 2px var(--fl-asst-accent-color);
        }

        &.fl-asst-destructive {
            --fl-asst-accent-color: red;
            color: red;
        }
    }

    .fl-asst-button-label {
        margin-left: 8px;
    }

    .fl-asst-button-group {
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: row;
        background: var(--fl-asst-secondary-surface-background);
        color: var(--fl-asst-secondary-surface-color);
        border-radius: var(--fl-asst-base-radius);
        padding: 3px;
        min-height: calc( var(--fl-asst-target-size) + 6px );
        max-width:100%;
        overflow-x: hidden; // Firefox flips out with auto.

        &.fl-asst-button-group-row {
            align-self: center; // will center self within flex columns
            justify-content: flex-start;
        }
        &.fl-asst-button-group-column {
            flex-direction: column;
        }

        .fl-asst-button {
            background: transparent;
            color: inherit;
            border-radius: 4px;
            z-index:1;
            white-space: nowrap;

            &:hover {
                color: var(--fl-asst-surface-color);
            }

            &:focus {
                color: var(--fl-asst-surface-color);
                box-shadow: inset 0px 0px 0px 2px var(--fl-asst-surface-background),
                            0px 0px 0px 2px var(--fl-asst-accent-color);
            }

            &.fl-asst-is-selected {
                background: var(--fl-asst-surface-background);
                color: var(--fl-asst-surface-color);
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);

                &:focus {
                    box-shadow: inset 0px 0px 0px 2px var(--fl-asst-secondary-surface-background),
                                0px 0px 0px 2px var(--fl-asst-accent-color);
                }
            }
        }

        .fl-asst-vertical-divider {
            flex: 0 0 auto;
            margin: var(--fl-asst-tiny-space) 0;
            background: var(--fl-asst-surface-background);
        }
        .fl-asst-horizontal-divider {
            flex: 0 0 auto;
            margin: 0 var(--fl-asst-tiny-space);
            background: var(--fl-asst-surface-background);
        }
        .fl-asst-is-selected + .fl-asst-divider {
            visibility: hidden;
        }
    }

    .fl-asst-more-menu {
        background: var(--fl-asst-secondary-surface-background);
        color: var(--fl-asst-secondary-surface-color);
        border-radius: var(--fl-asst-base-radius);
        padding: 3px;
        display: flex;
        flex-direction: column;
    }

	.fl-asst-button-loading {
		svg {
			margin-left: 8px;
		}
	}
}
