.fl-asst-grid-list > div {
    display: flex;
    flex-flow: wrap;
    padding: 0 10px 20px;
}
.fl-asst-grid-item {
    display: block;
    flex: 1 1 33.3%;
    height: 200px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: var(--fl-asst-utility-background-color);
    }
}
.fl-asst-grid-item-anchor {
    display: block;
    overflow: auto;
}

#fl-asst-media-actions .fl-asst-tag.is-warning {
    margin-right:0;
    margin-left: auto;
}

@supports (display: grid) and (display: contents) {
    .fl-asst-grid-list {
        padding: var(--fl-asst-base-padding);
    }
    .fl-asst-grid-list > div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-auto-flow: row dense;
        grid-gap: 3px;
        grid-row-gap: 30px;
        padding:0;
    }
    .fl-asst-grid-item {
        padding:0;
        height: auto;
        grid-column-end: span 1;

        &.fl-asst-grid-item-landscape {
            grid-column-end: span 2;

        }
        &.fl-asst-grid-item-portrait {
            grid-column-end: span 1;
        }
        &.fl-asst-grid-item-pano {
            grid-column: 1 / -1;
        }
    }

}
