.fl-asst-grid-list {
    display: flex;
    flex-flow: wrap;
    padding: 10px;
}
.fl-asst-grid-item {
    display: block;
    flex: 1 1 33.3%;
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}
.fl-asst-grid-item-anchor {
    display: block;
    overflow: auto;
}
