.fl-asst {

	.fl-asst-new-term-form {
		padding-top: var(--fl-asst-small-space);
		width: 100%;

		button {
			width: 100%;
		}

		input, select {
			margin-bottom: var(--fl-asst-small-space);
		}
	}

	.components-base-control.fl-asst-subCat {
		margin-left: 15px;
	}
	.components-base-control+.components-base-control {
		/* margin-bottom: 16px; */
		float: left;
		width: 100%;
		display: block !important;
	}
	.components-checkbox-control__label{
		display: contents;
	}
	.components-checkbox-control__input{
		border: 2px solid #6c7781 !important;
	}
	.fl-asst .components-checkbox-control__input:checked:after{
		font-size: 17px !important;
	}

	.fl-asst  .components-checkbox-control__input {
		width: 25px;
    height: 25px;
	}

	.components-base-control+.components-base-control {
		margin-bottom: 7px;
	}
}
