.fl-asst-panel {
  background: rgba(238,174,202, 0.5);
  background: radial-gradient(circle, rgba(238,174,202,0.2) 0%, rgba(148,187,233,0.2) 100%);
  border-top: 1px solid rgba(238,174,202, 0.1);
  border-bottom: 1px solid rgba(238,174,202, 0.1);

  display: flex;
  flex-direction: column;

  padding: var(--fl-asst-inner-space);
}
