.fl-asst-well {
  background: rgba(238,174,202, 0.5);
  background: radial-gradient(circle, rgba(238,174,202,0.2) 0%, rgba(148,187,233,0.2) 100%);
  border: 1px solid rgba(238,174,202, 0.1);
  border-radius: var(--fl-asst-base-radius);;
  padding: 20px;
  min-height: 150px;
  width: 100%;
  margin-bottom: 15px;
}
