.fl-asst-tag-group {
    
}
.fl-asst-tag-group-title {
    font-size: 12px;
    margin-bottom: 6px;
    color: black;
}
.fl-asst-tag-group-content {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    .fl-asst-tag {
        display: inline-flex;
        font-size: 14px;
        padding: 5px 8px;
        margin-right: 5px;
        margin-bottom: 5px;
        background:white;
        border: 1px solid #DAE1E8;
        color: #5A6367;
        user-select: none;

        &:hover {
            top:0;
            color: black;
        }

        &:focus {
            top:0;
            box-shadow: 0 0 0px 2px var(--fl-accent-color);
            border-color: var(--fl-background-color);
        }

        &.is-selected {
            background-color: var(--fl-accent-color);
            color: white;
            fill: white;
            box-shadow: 0 0 0px 2px var(--fl-accent-color);
            border-color: var(--fl-background-color);

            &:hover {
                background-color: #008DC3;
            }
        }
    }
    .fl-asst-tag-count {
        opacity: .75;
        padding-left: 10px;
        font-weight: normal;
    }
}
.fl-asst-tag-group-appearance-muted {
    .fl-asst-tag {
        color: white;
        background-color: var(--fl-asst-base-art-color);
        border-color: transparent;
        transition-property: background-color;
        transition-duration: .15s;

        &:hover {
            color: white;
            background-color: #60758A;
            border-color: transparent;
        }

        &.is-selected:hover {
            border-color: var(--fl-background-color);
        }
    }
}
.fl-asst-tag-group-appearance-vibrant {

    .fl-asst-tag {
        color: white;
        background-color: var(--fl-asst-base-art-color);
        border-color: transparent;
        transition-property: background-color;
        transition-duration: .15s;

        &:hover {
            color: white;
            border-color: var(--fl-background-color);
        }
    }
    .fl-asst-tag:nth-child(5n+1) {
        /* Blue */
        background-color: #007DAC;

        &:hover {
            background-color: #008DC3;
        }
    }
    .fl-asst-tag:nth-child(5n+2) {
        /* Green */
        background-color: #02C67A;

        &:hover {
            background-color: #00DD88;
        }
    }
    .fl-asst-tag:nth-child(5n+3) {
        /* Purple */
        background-color: #5713FE;

        &:hover {
            background-color: #6E32FF;
        }
    }
    .fl-asst-tag:nth-child(5n+4) {
        /* yellow */
        color: black;
        background-color: #FFC400;

        &:hover {
            background-color: #FFD137;
        }
    }
    .fl-asst-tag:nth-child(5n+5) {
        /* Red */
        background-color: #E01041;

        &:hover {
            background-color: #FF003C;
        }
    }
}
