.fl-asst {
    .fl-asst-publish-bar {
        flex: 1 1 auto;
        background: var(--fluid-blue);
        color: var(--fluid-opaque-14);
        display: flex;
        flex-direction: column;
        padding: var(--fluid-med-space);
        margin: 0 10px 10px;
        border-radius: 15px;

        .fl-asst-publish-bar-message {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: var(--fluid-med-space);
            font-size: 15px;
        }

        .fl-asst-publish-bar-actions {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-top: 3px;

            .fluid-button {
                background: var(--fluid-opaque-14);

                &.fluid-status-primary {
                    color: var(--fluid-blue);
                }
            }
        }
    }
}
