.fl-asst-field {
	margin-bottom: 20px;
}

.fl-asst-field-label-beside {
	display: flex;
}
.fl-asst-field.fl-asst-field-label-beside > * {
    width: 100%;
}

.fl-asst-field-input {
	display: flex;
}
.fl-asst-field-input button {
	width: 30%;
}
