.fl-asst-split-view {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .fl-asst-split-view-master {
        border-right: 1px solid var(--fl-line-color);
    }
    .fl-asst-split-view-detail {

    }
}
