.fl.uid {
    .fl-asst-filter {

		--border-color: var(--fluid-opaque-10);
		background: var(--fluid-opaque-13);
        flex: 0 0 auto;
        margin: 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 46px;
		grid-gap: 1px;
		border-color: var(--border-color);
		border-style: solid;
		border-width: 1px 0;

        li {
            display: flex;
            flex-direction: row;
			box-shadow: 0 0 0 1px var(--border-color);

            .fl-asst-filter-button {
                flex: 1 1 auto;
                padding: 0;
				border-radius: 0;
				transition-property: none;

                &:hover {
                    transform: scale(1); // override button hover effect
                }
				&:focus {
					color: var(--fluid-blue);
					box-shadow: inset 0px 0px 0px 1px var(--fluid-accent),
								inset 0px 0px 0px 3px var(--fluid-background);

					.fl-asst-filter-button-content {
						.fl-asst-filter-button-title,
						.fl-asst-filter-button-subtitle {
							color: var(--fluid-blue);
						}
					}
				}

                & > span {
                    padding: 8px 14px;
                    flex: 1 1 auto;
                }

                .fl-asst-filter-button-content {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 12px;
                    line-height: 1.1;
                    text-align: left;

                    .fl-asst-filter-button-title {
						color: var(--fluid-opaque-6);
                        margin-bottom: 3px;
                    }
                    .fl-asst-filter-button-subtitle {
						color: var(--fluid-color);
                        font-size: 13px;
                        font-weight: normal;
                        line-height: 1.3;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 85px;
                    }
                }
                .fl-asst-filter-button-caret {
                    flex: 0 0 auto;
                    display: flex;
                    margin-left: auto;

                    svg {
                        display: block;
                    }
                }
            }
        }
    }

    // More Button
    .fl-asst-filter-more {
        display: flex;
        flex-direction: column;
        padding: 0 var(--fluid-med-space);
        margin: -5px 0;

        .fluid-button {
            padding: var(--fluid-sm-space);
            border-radius: var(--fluid-radius);
            opacity: .5;
            z-index: 2;
            min-height: 24px;

            & > span {
                padding: 2px;
                border-radius: 4px;
            }

            &:hover {
                opacity: 1;
                transform: scale(1); // cancel out hover scaling
            }
            &:focus {
                opacity: 1;
                box-shadow: none !important;
                background-color: transparent !important;

                & > span {
                    color: var(--fluid-accent);
                    box-shadow: inset 0px 0px 0px 2px var(--fluid-background),
                                0px 0px 0px 1.5px var(--fluid-accent);
                }
            }
        }
    }

    // Menu
    .fl-asst-filter-menu {
        display: grid;
        grid-gap: var(--fluid-med-space);
        grid-template-columns: auto;
        grid-auto-flow: row;

        background: var(--fluid-background);
        color: var(--fluid-color);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        padding: var(--fluid-lg-space);
        border-radius: var(--fluid-med-space);
        min-width: 120px;
        max-width: 220px;
        z-index: 9;

        label {
            margin: 0;
            padding: 0;
            font-size: 13px;
            font-weight: normal;
        }
    }
    .fluid-color-scheme-dark {
        .fl-asst-filter-menu {
            background: var(--fluid-opaque-3);
        }
    }
}
