.fl-asst {
    .fl-asst-filter {
        padding: var(--fluid-sm-space);
        flex: 0 0 auto;
        margin: 0;

        li {
            display: flex;
            flex-direction: row;

            .fl-asst-filter-button {
                flex: 1 1 auto;
                padding: 0;

                & > span {
                    padding: 10px;
                    flex: 1 1 auto;
                }

                .fl-asst-filter-button-content {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 12px;
                    line-height: 1.1;
                    text-align: left;

                    .fl-asst-filter-button-title {
                        margin-bottom: var(--fluid-sm-space);
                    }
                    .fl-asst-filter-button-subtitle {
                        font-size: 13px;
                        font-weight: 600;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 85px;
                    }
                }
                .fl-asst-filter-button-caret {
                    flex: 0 0 auto;
                    display: flex;
                    margin-left: auto;

                    svg {
                        display: block;
                    }
                }
            }
        }
    }

    // More Button
    .fl-asst-filter-more {
        display: flex;
        flex-direction: column;
        padding: 0 var(--fluid-sm-space);
        margin: -5px 0;

        .fluid-button {
            padding: var(--fluid-sm-space);
            border-radius: 3px;
            opacity: .5;
            z-index: 2;
            min-height: 24px;

            & > span {
                padding: 2px;
                border-radius: 4px;
            }

            &:hover {
                opacity: 1;
                transform: scale(1); // cancel out hover scaling
            }
            &:focus {
                opacity: 1;
                box-shadow: none !important;

                & > span {
                    color: var(--fluid-accent);
                    box-shadow: inset 0px 0px 0px 2px var(--fluid-background),
                                0px 0px 0px 1.5px var(--fluid-accent);
                }
            }
        }
    }

    // Menu
    .fl-asst-filter-menu {
        display: grid;
        grid-gap: var(--fluid-med-space);
        grid-template-columns: auto;
        grid-auto-flow: row;

        background: var(--fluid-background);
        color: var(--fluid-color);
        box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
        padding: var(--fluid-lg-space);
        border-top: 2px solid var(--fluid-accent);
        min-width: 120px;
        max-width: 220px;
        z-index: 9;

        label {
            margin: 0;
            padding: 0;
            font-size: 13px;
            font-weight: normal;
        }
    }
    .fluid-color-scheme-dark {

        .fl-asst-filter-menu {
            background: var(--fluid-box-background);
        }
    }
}
