.fluid-button.fl-asst-form-control-toggle {
    --fl-asst-control-size: 30px;
    --fl-asst-control-outline-size: 2px;
    --fl-asst-control-pad-size: 2px;
    --fl-asst-control-inset-size: calc( var(--fl-asst-control-pad-size) + var(--fl-asst-control-outline-size) );
    --fl-asst-control-thumb-size: calc( var(--fl-asst-control-size) - ( var(--fl-asst-control-inset-size) * 2 ) );

    box-sizing: border-box;
    width: calc( ( var(--fl-asst-control-thumb-size) + var(--fl-asst-control-inset-size) ) * 2 );
    height: var(--fl-asst-control-size);
    min-height:0;
    border-radius: var(--fl-asst-control-size);
    border: var(--fl-asst-control-outline-size) solid var(--fl-asst-surface-color);
    background: transparent;
    box-shadow: none;
    margin:0px;
    padding: var(--fl-asst-control-pad-size);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .fl-asst-form-control-toggle-thumb {
        box-sizing: border-box;
        width: var(--fl-asst-control-thumb-size);
        height: var(--fl-asst-control-thumb-size);
        background: transparent;
        border: 2px solid var(--fl-asst-surface-color);
        border-radius: var(--fl-asst-control-size);
        flex: 0 0 auto;
        transition-property: transform;
        transition-duration: .25s;
    }

    &:focus {
        outline: none;
        box-shadow: none;
        border: var(--fl-asst-control-outline-size) solid var(--fl-asst-accent-color);

        .fl-asst-form-control-toggle-thumb {
            border-color: var(--fl-asst-accent-color);
        }
    }
}
