/* Pending List Item */
.fl-asst-list-item.fl-asst-comment-pending {
	background: var(--fl-utility-background-color);
}
.fl-asst-comment-pending-icon {
    line-height: 0;
	display: flex;
	position: absolute;
	left: 12px;
	height: 100%;
	width: 5px;
}

/* Detail View */
.fl-asst-comment-detail {

	.fl-asst-comment-title {
		display: flex;
		align-items: center;
	}

	.fl-asst-comment-title-visual {
		flex: 0 0;

		.fl-asst-comment-title-visual-box {
			width: 50px;
			padding-top: 100%;
			background: var(--fl-utility-element-color);
			background-size: cover;
			border-radius: 2px;
		}
	}

	.fl-asst-comment-title-meta {
		font-size: var(--fl-asst-base-text-size);
		font-weight: normal;
		padding-left: 20px;

		strong {
			font-style: italic;
		}
	}

	.fl-asst-comment-title-author {
		padding-bottom: 8px;
	}

	.fl-asst-comment-meta {
		padding: 5px 0 20px;
	}

	.fl-asst-comment-actions {

		.fl-asst-button.is-warning {
			margin-left: auto;
			margin-right: 0;
		}
	}

	.fl-asst-comment-content {

		.fl-asst-widget-title {
			display: flex;

			> * {
				width: 100%;
			}
		}
	}

	.fl-asst-comment-content-actions {

		.fl-asst-button {
			margin-bottom: 0;
		}

		.fl-asst-button:first-child {
			margin-left: auto;
		}

		.fl-asst-button:last-child {
			margin-right: 0;
		}
	}

	.fl-asst-comment-form {

		textarea {
			font-size: 14px;
			line-height: 26px;
			margin-bottom: 20px;
			min-height: 200px;
			padding: 10px 15px;
		}

		button.fl-asst-button:first-of-type {
			margin-left: 0;
		}
	}
}
