/**
 * DO NOT wrap this inside .fl-asst
 * Menus exist outside of the root.
*/

.fluid-menu.fl-asst-calendar-menu {
	background: white; /* this is just to avoid dark mode madness */
	width: 260px;
	padding: var(--fluid-med-space);
	overflow:hidden;

	.CalendarMonthGrid__horizontal {
		left: -7px;
	}

	.components-datetime__time {
		padding-bottom: 10px;

		fieldset {
			display: flex;
			flex-direction: row;
		}
		input {
			flex: 0 0 auto;
			width: 44px;
		}

		.components-datetime__time-wrapper {
			flex-grow: 1;
			justify-content: center;

			/* month select */
			.components-datetime__time-field.components-datetime__time-field-month {
				flex-grow: 1;
			}
		}
	}
	.components-datetime__time-field {
		display: flex;
		flex-direction: row;
	}
	.components-datetime__time-separator {
		margin: auto; // to center vertically
	}
	table {
		margin: 0;
		border: none;
	}
	td {
		border: none;
		padding: 0;
		border-radius: 0;
	}

	.DayPicker__horizontal {
		width: auto;
	}
}

.fluid .fluid-color-scheme-dark table tr:nth-child(even) th,
.fluid .fluid-color-scheme-dark table tr:nth-child(even) td {
	background: transparent;
}
