.fl-asst {

	.fluid-menu.fl-asst-label-picker-menu {
		width: auto !important;
	}

	.fl-asst-labels-item {
		margin-bottom: var(--fluid-sm-space);
		width: 100%;
	}

	.fl-asst-labels-menu-item {
		display: flex;
		justify-content: flex-end;
		padding: var(--fluid-med-space);
		margin: 0;
		cursor: pointer;

		.fl-asst-labels-menu-color {
			border-radius: 50%;
			flex: 0 0 auto;
			margin-right: var(--fluid-med-space);
			height: 12px;
			width: 12px;
		}
		.fl-asst-labels-menu-label {
			flex: 1 0 auto;
			margin-right: var(--fluid-lg-space);
		}

		input[type='checkbox'] {
			margin-left: auto;
			margin-right: 0;
		}
	}

	.fl-asst-tag-add-button {
		width: 100%;
	}
}
