.fl-asst {

	.fl-asst-selected-labels {
		margin-bottom: var(--fl-asst-tiny-space);
		width: 100%;
	}

	.fl-asst-add-label {
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;

		select {
			flex: 1 1 auto;
			margin-right: var(--fl-asst-tiny-space);
		}
	}
}
