.fl-asst {

	.fl-asst-labels-item {
		margin-bottom: var(--fl-asst-tiny-space);
		width: 100%;
	}

	.fl-asst-labels-menu-item {
		display: flex;
		padding: var(--fl-asst-small-space);

		.fl-asst-labels-menu-color {
			border-radius: 100%;
			flex: 0 0 auto;
			margin-right: var(--fl-asst-small-space);
			height: 16px;
			width: 16px;
		}
		.fl-asst-labels-menu-label {
			flex: 1 0 auto;
		}
	}
}
