.fl-asst {

    .fl-asst-main {
        width: 420px;
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        max-height: 100%;
        min-height: 0;

        &.fl-asst-pinned-right {
            flex-direction: row-reverse;
        }
        &.fl-asst-main-sidebar-only {
            width: 58px;
        }
        &.fl-asst-is-mobile {
            width: auto;
            flex-direction: column-reverse;

            .fl-asst-main-content {
                max-width: none;
            }
        }

        .fl-asst-main-content {
            flex: 1 1 auto;
            position: relative;
            display: flex;
            max-height: 100%;
            min-height: 0;
            max-width: var(--fl-asst-panel-size);
            overflow-x: hidden;
        }
    }
}

.fl-asst .remove-btn {
    margin-right: 0.5rem;
}

@media print {
    .fl-asst {
        display: none;
    }
}

// Cause PopupMaker
body #wpadminbar {
    z-index: 99999;
}

@media screen and ( max-width: 782px ) {
    #wp-toolbar > ul > li#wp-admin-bar-fl_assistant_toggle_ui {
        display: block;
    }
}
