.fl-asst-edit-labels {

	.fl-asst-table-cell {
		align-items: center;
		display: flex;
		&:first-child {
			flex: 0;
		}
		&:last-child {
			flex: 0 1 auto;
		}
	}

	.fl-asst-label-color {
	    height: 12px;
	    width: 12px;
	    border-radius: 100%;
	}

	.fl-asst-add-new-label {
		display: flex;
		padding-top: var(--fl-asst-tiny-space);

		input {
			margin-right: var(--fl-asst-tiny-space);
		}
	}
}
