.fl-asst-edit-labels {

	.fl-asst-table-cell {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		min-height: 50px;

		&:first-child {
			flex: 0;
			padding-left:0;
		}
		&:last-child {
			flex: 0 1 auto;
			padding-right:0;
		}
	}

	.fl-asst-label-color {
		width: 24px;
		height: 24px;
	    border-radius: 100%;
	}

	.fl-asst-table-cell-edit {
		padding: var(--fl-asst-outer-space) !important;
		box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.15);
		margin: 10px calc( 0px - var(--fluid-lg-space) );

		.fl-asst-circle-picker {
			padding-top: var(--fl-asst-tiny-space);
			padding-bottom: var(--fl-asst-tiny-space);
		}
	}

	.fl-asst-add-new-label {
		display: flex;
		padding-top: var(--fl-asst-tiny-space);

		input {
			margin-right: var(--fl-asst-tiny-space);
		}
	}
}
.fluid-color-scheme-dark {
	.fl-asst-edit-labels {
		.fl-asst-table-cell-edit {
			background: var(--fluid-opaque-3);
		}
	}
}
