.fl-asst-option-group {
    padding-top:30px;

    &:first-child {
        padding-top:0;
    }

    .fl-asst-heading {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 30px;
        margin-bottom: 0;
        color: var(--fl-title-color);
    }

    & > ul {
        list-style: none;
        margin:10px 0 30px;
        padding:0;
        display: flex;
        flex-direction: column;
    }

    .fl-asst-option-group-item {
        display: flex;
        flex-direction: row;

        button {
            flex: 1 1 auto;
            justify-content: flex-start;
            border-radius: 4px;
            padding: 3px calc( 25px - 4px );
            font-size: 16px;
            font-weight: normal;

            &.fl-asst-button-is-selected {
                background: var(--fl-utility-background-color);
                border-color: var(--fl-utility-background-color);
                color: var(--fl-title-color);

                &:focus {
                    border-color: var(--fl-accent-color);
                }
            }
        }

        .fl-asst-option-group-item-count {
            margin-left: auto;
            padding-left: 10px;
            font-size: 14px;
            font-weight: normal;
        }
    }
}
