.fluid {
    .fluid-button-group {
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: row;
	    flex-wrap: wrap;
        background: var(--fluid-box-background);
        color: var(--fluid-box-color);
        border-radius: 5px;
        padding: 3px;
        min-height: calc( var(--fluid-target-size) + 6px );
        max-width:100%;
        overflow-x: hidden; // Firefox flips out with auto.
        position: relative;

        .fluid-button {
            &:hover,
            &.is-hovering {
                transform: scale(1); // Cancel out button scaling effect
            }
        }

        &.fluid-button-group-row {
            align-self: center; // will center self within flex columns
            justify-content: flex-start;
        }
        &.fluid-button-group-column {
            flex-direction: column;
        }

        &.fluid-button-group-appearance-normal {
            .fluid-button {
                background: transparent;
                z-index:1;
                white-space: nowrap;
                border-radius: 3px;

                &.fl-asst-is-selected {
                    background: var(--fluid-background);
                    color: var(--fluid-color);
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);

                    &:focus {
                        box-shadow: inset 0px 0px 0px 2px var(--fluid-box-background),
                                    0px 0px 0px 2px var(--fluid-accent);
                    }
                }
            }
        }

        &.fluid-button-group-appearance-buttons {
            background: transparent;
            padding: 2px 0;
            min-height: var(--fluid-target-size);
            overflow: visible;

            .fluid-button {
                margin-right: var(--fluid-sm-space);
				margin-bottom: var(--fluid-sm-space);

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &.fluid-button-group-appearance-tabs {
            flex: 1 1 auto;
            background: var(--fluid-box-background);
            padding: 0 var(--fluid-med-space);
            padding-right: 2px;
            min-height: 40px;
            border-radius: 0;
            overflow: auto;
            justify-content: flex-start;
            align-self: stretch;
            overflow: visible;
            flex-wrap: nowrap;
            max-width: 100%;

            .fluid-button {
                margin: 0;
                background: transparent;
                border: none;
                border-radius: 0;
                padding: 0 12px;

                &:hover {
                    background: var(--fluid-box-hover-background);
                }
                &:focus {
                    border-radius: var(--fluid-radius);
                }

                &.is-selected {
                    color: var(--fluid-accent);
                    background: var(--fluid-background);
                    box-shadow: 0px -2px 0px var(--fluid-accent);
                    border-radius: 0;

                    &:focus {
                        border-radius: 3px;
                        box-shadow: inset 0px 0px 0px 2px var(--fluid-box-background),
                                    0px 0px 0px 2px var(--fluid-accent),
                                    0px 4px 4px 0px rgba(0, 0, 0, 0.1);
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                &.fluid-more-button {
                    margin-left:auto !important;
                }

                .fluid-count-badge {
                    margin-left: 5px;
                    padding: 3px;
                    background: var(--fluid-primary-background);
                    color: var(--fluid-primary-color);
                    border-radius: 3px;
                }
            }
        }

        .fluid-vertical-divider {
            flex: 0 0 auto;
            margin: var(--fluid-sm-space) 0;
            background: var(--fluid-background);
            border: none;
            border-radius: 2px;
        }
        .fluid-horizontal-divider {
            flex: 0 0 auto;
            margin: 0 var(--fluid-sm-space);
            background: var(--fluid-background);
            border: none;
            border-radius: 2px;
        }
        .fluid-is-selected + .fluid-divider {
            visibility: hidden;
        }

        &.fluid-button-group-appearance-grid {
            background: transparent;
            flex: 1 1 auto;
            display: grid;
            grid-gap: var(--fluid-sm-space);
            grid-template-columns: 1fr 1fr;
            margin: -3px;
        }
    }

    .fluid-divider.fluid-horizontal-divider {
        box-sizing: border-box;
        background: var(--fluid-background);
    }
    .fluid-divider.fluid-vertical-divider {
        box-sizing: border-box;
        background: var(--fluid-background);
        width: 2px;
        height: auto;
    }
    .fluid-is-hidden { visibility: hidden; }

    .fluid-more-menu {
        background: var(--fluid-box-background);
        color: var(--fluid-box-color);
        border-radius: var(--fluid-radius);
        padding: 3px;
        display: flex;
        flex-direction: column;
    }
}
