.fl-asst {
    .fl-asst-manage-app-order-list {
        margin:0;

        li {
            padding: 1px 0;
            display: flex;
            flex-direction: row;
            font-size: 14px;

            .fluid-button {
                flex: 1 1 auto;
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                min-height: 40px;
            }

            .fl-asst-item-icon {
                display: inline-flex;
                flex: 0 0 20px;
                margin-right: var(--fluid-lg-space);
                justify-content: center;
            }

            .fl-asst-item-reorder-buttons {
                display: inline-flex;
                flex-direction: row;
                flex: 0 0 72px;

                .fl-asst-button-space {
                    display: flex;
                    flex-direction: row;
                    flex: 0 0 32px;
                }

                .fluid-button {
                    padding: 0 5px;
                }
            }
        }
    }
}
