.fl-asst {
    --fl-asst-window-zone-color: var(--fluid-blue-7);
    --fl-asst-window-zone-background: hsla(210, 100%, 36%, .25 );

    .fl-asst-window {
        --fl-asst-window-size: calc( var(--fl-asst-side-toolbar-width) + var(--fl-asst-panel-size) );

        position: relative;
        box-sizing: border-box;
        width: var(--fl-asst-window-size);
        max-width: 100vw;
        min-height: 100px;
        overflow: hidden;
        pointer-events: auto;
        touch-action: none;
        border-radius: 0;
        transition-property: box-shadow, border-radius;
        transition-duration: .25s;
        box-shadow: 0 0 0 1.5px hsla(214, 10%, 90%, 0.1 ),
                    0 10px 15px 0 hsla(214, 17%, 41%, 0.2);

        .fluid-color-scheme-dark & {
            border-color: transparent;
            box-shadow: 0 0 0 1.5px hsla(0, 0%, 26%, .1), 0 1px 5px 0 hsla(0,0,0, .2);
        }

        &.fl-asst-window-mini {
            max-width: 100%;
            max-height: 70vh;
            height: 70vh;
            border-radius: var(--fluid-lg-space);
        }
        &.fl-asst-window-normal {
            height: 100%;
        }

        .fl-asst-window-backdrop {
            position: absolute;
            top:0;
            left:0;
            bottom: 0;
            right: 0;
        }

        .fl-asst-window-content {
            box-sizing: border-box;
            flex: 1 1 auto;
            position: relative;
            display: flex;
            flex-direction: column;
            max-height:100%;
            min-height:0;
        }

        .fl-asst-window-grab-bar {
            color: var(--fluid-transparent-9);

            svg {
                pointer-events: none;
            }
        }
    }

    .fl-asst-window.fl-asst-window-is-mobile {
        width: 100vw;
        height: 100vh;
        max-width: none !important;
        max-height: none !important;
        border-radius: 0 !important;
    }

    .fl-asst-window-sidebar-only .fl-asst-window {
        --fl-asst-window-size: calc( var(--fl-asst-side-toolbar-width) - 2px ); // Accounts for border width
        box-shadow: 0 0 0 3px rgba(0,0,0,.05);

        &.fl-asst-window-mini {
            border-radius: 5px;
            height: auto;
        }
        &.fl-asst-window-is-mobile {
            height: auto;
            margin-top: auto;
            min-height: 0;

            .fl-asst-window-grab-bar {
                display: none !important;
            }
        }
    }

    .fl-asst-window-layer-is-dragging {
        .fl-asst-window-mini {
            box-shadow: 0 0 0 1.5px var(--fl-asst-window-zone-color),
                        0 15px 45px 0 hsla(214, 17%, 41%, 0.25);
        }
        .fl-asst-window-normal {
            box-shadow: 0 0 0 1.5px var(--fl-asst-window-zone-color),
                        0 15px 45px 0 hsla(214, 17%, 41%, 0.25);
            border-radius: 5px;
        }
    }

    .fl-asst-window-button {
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: var(--fluid-radius);
        background: var(--fluid-background) !important;
        overflow: hidden;
        padding:0;
        pointer-events: auto;
        box-shadow: inset 0 0 0 var(--fluid-color),
                    0px 10px 20px rgba(0,0,0,.1);

        &:hover {
            background: var(--fl-asst-surface-background);
            box-shadow: 0px 10px 20px rgba(0,0,0,.25);
        }

        &:focus {
            top:0;
            outline: none;
            background: var(--fl-asst-surface-background);
            box-shadow: inset 0px 0px 0px 2px var(--fluid-accent),
                        0px 10px 20px rgba(0,0,0,.25);
        }

        svg {
            pointer-events: none;
        }
    }

    .fl-asst-window-layer {
        --fl-asst-admin-bar-height: 32px;
        box-sizing: border-box;

        position: fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index: 9999999999999; // Yea, cause popup maker pushes the admin bar higher than normal.

        background-color: transparent;
        box-shadow: inset 0px 0px 0px 0px white;
        transition-property: box-shadow, background-color;
        transition-delay: .1s;
        transition-duration: .3s;

        user-select: none;
        touch-action: none;
        pointer-events: none;

        &.fl-asst-window-layer-is-dragging {
            --edge-pad: 15px;
            --bordered-edge: calc( var(--edge-pad) + 3px );
            pointer-events: auto;
            box-shadow: inset 0px 0px 0px 1.5px var(--fl-asst-window-zone-color);
            background-color: var(--fl-asst-window-zone-background);

            &:after {
                content: '';
                pointer-events: none;
                position: absolute;
                top: var(--edge-pad);
                left: var(--bordered-edge);
                width: 50px;
                height: 90px;
                background: var(--fl-asst-window-zone-color);
                border-radius: var(--fluid-radius);
                z-index: -1;
            }
            &.fl-asst-window-layer-origin-top-left:after {
                display: block;

                body.admin-bar & {
                    top: calc( var(--edge-pad) + var(--fl-asst-admin-bar-height) );
                }
            }
            &.fl-asst-window-layer-origin-top-right:after {
                display: block;
                left: auto;
                right: var(--bordered-edge);

                body.admin-bar & {
                    top: calc( var(--edge-pad) + var(--fl-asst-admin-bar-height) );
                }
            }
            &.fl-asst-window-layer-origin-bottom-left:after {
                display: block;
                top: auto;
                bottom: var(--bordered-edge);
                left: var(--bordered-edge);
            }
            &.fl-asst-window-layer-origin-bottom-right:after {
                display: block;
                top: auto;
                bottom: var(--bordered-edge);
                left: auto;
                right: var(--bordered-edge);
            }
            &.fl-asst-window-size-normal:not(.fl-asst-window-is-hidden) {
                &:after {
                    height: 100vh;
                    width: 60px;
                    top:0 !important;
                    bottom: auto;
                    border-radius: 0;
                }
                &.fl-asst-window-layer-origin-top-left:after,
                &.fl-asst-window-layer-origin-bottom-left:after {
                    right:auto;
                    left:0;
                }
                &.fl-asst-window-layer-origin-top-right:after,
                &.fl-asst-window-layer-origin-bottom-right:after {
                    right: 0;
                    left:auto;
                }
            }
        }

        .fl-asst-window-positioner {
            pointer-events: auto;
        }
    }
}

.fluid .fl-builder-workspace-panel.fl-asst {
    width: auto;
}

@media screen and ( max-width: 782px ) {
    .fl-asst {
        .fl-asst-window {
            --fl-asst-admin-bar-height: 46px;
        }
    }
}

.fluid {
    .fl-asst-window-backdrop {
        background: var(--fluid-background);
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
    }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .fluid {
        .fl-asst-window-backdrop {
            -webkit-backdrop-filter: saturate(250%) blur(50px);
            backdrop-filter: saturate(250%) blur(50px);
            background: var(--fluid-transparent-12);
        }
        .fluid-color-scheme-dark {
            .fl-asst-window-backdrop {
                background: hsla(214, 30%, 5%, .8);
            }
        }
    }
    // Fix Beaver builder assistant panel background
    .fl-builder-workspace .fl-asst.fl-builder-workspace-panel {
        -webkit-backdrop-filter: saturate(250%) blur(50px);
        backdrop-filter: saturate(250%) blur(50px);
        background: var(--fluid-transparent-12);
    }
}

// Elevate WP Media Modal
div.media-modal {
    z-index: 9999999991;
}
