.fl-asst {
    .fl-asst-tag-group {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;
		min-height: 32px;
		position: relative;

        padding: var(--fluid-sm-space);
        background: var(--fluid-box-background);
        border-radius: var(--fl-asst-base-radius);
    }

    .fl-asst-tag {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: var(--fluid-background);
        color: var(--fluid-color);
        border-radius: 13px;
        padding: var(--fluid-sm-space) 6px;
        margin: var(--fluid-sm-space);
        min-height: 26px;
	    max-width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
        font-size: 12px;
        font-weight: 500;

        &:first-item {
            margin-left: 0;
        }

        &:focus-within {
            box-shadow: inset 0px 0px 0px 2px var(--fluid-box-background),
                        0px 0px 0px 2px var(--fluid-accent),
                        0 5px 10px 0 rgba(0,0,0,.1);
        }

        .fl-asst-tag-label {
            padding: 0 var(--fluid-sm-space);
        }

        .fl-asst-tag-color {
            flex: 0 0 auto;
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }

        .fl-asst-tag-remove-btn {
            padding: 0;
            min-height: 14px;
            min-width: 14px;
            opacity: .5;

            &:focus {
                opacity: 1;
            }
        }

        &:hover .fl-asst-tag-remove-btn {
            opacity: 1;
        }
    }
}
