.fl-asst {
    .fl-asst-tag-group {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;
		min-height: 32px;
		position: relative;

        padding: var(--fluid-sm-space);
        background: var(--fluid-box-background);
        border-radius: var(--fluid-radius);
    }

    .fl-asst-tag {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        background: var(--fluid-background);
        color: var(--fluid-color);
        border-radius: var(--fluid-radius);
        margin: var(--fluid-sm-space);
        min-height: var(--fluid-target-size);
	    max-width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
        font-size: 12px;
        font-weight: 500;

        &:first-item {
            margin-left: 0;
        }

        .fl-asst-tag-label {
            flex: 1 0 auto;
            display: inline-flex;
            align-items: center;
            padding: 0 var(--fluid-sm-space);
            padding-right: 0;
        }

        .fl-asst-tag-color {
            flex: 0 0 auto;
            display: flex;
            align-self: center;
            margin-left: var(--fluid-med-space);
            width: 12px;
            height: 12px;
            border-radius: 50%;
        }

        .fl-asst-tag-remove-btn {
            padding: var(--fluid-med-space);
            min-height: 14px;
            min-width: 14px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
