.fluid {
	.fl-asst-widget-library {
		background: var(--fluid-background);

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		max-height: 400px;
		box-shadow: 0 0 20px var(--fluid-transparent-3);
		z-index: 9;

		.fluid-toolbar {
			padding: var(--fluid-sm-space) var(--fluid-lg-space);
			min-height: 80px;

			h2 {
				margin: 0;
			}
		}
	}
	ul.fl-asst-widget-library-items {
		margin: 0;
		padding: var(--fluid-lg-space);
		padding-top: 0;

		li {
			padding: 10px;
			background: var(--fluid-transparent-13);
			border-radius: var(--fluid-radius);
			margin-bottom: 5px;
		}
	}
}
