.fluid {
	.fl-asst-widget-library {
		background: var(--fluid-background);

		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		border-radius: 10px;
		max-height: 400px;
		box-shadow: 0 0 20px var(--fluid-opaque-10);
		overflow: auto;
		z-index: 9;

		.fluid-toolbar {
			padding: var(--fluid-sm-space) var(--fluid-med-space);

			h2 {
				margin: 0;
			}
		}
	}
	ul.fl-asst-widget-library-items {
		margin: 0;
		padding: var(--fluid-med-space);
		padding-top: 0;

		li {
			padding: 10px;
			background: var(--fluid-transparent-13);
			border-radius: var(--fluid-radius);
			margin-bottom: 5px;
		}
	}
}
.fluid-color-scheme-dark {
	.fl-asst-widget-library {
		background: var(--fluid-opaque-3);
		box-shadow: 0 0 20px var(--fluid-opaque-0);

		.fluid-toolbar {
			background: var(--fluid-opaque-3);
		}
	}
	ul.fl-asst-widget-library-items {
		li {
			background: var(--fluid-opaque-1);
		}
	}
}
