.fl-asst {
    .fl-asst-quick-actions-section {
        .fl-asst-section-content {
            padding: 15px 0 10px;
        }
    }
    .fl-asst-quick-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .fluid-button {
            .dashicons-wordpress-alt {
                font-size: 23px;
                width: 23px;
                height: 23px;
                line-height: 1;
            }
        }
    }

    .fl-asst-currently-viewing-summary {

        .fl-asst-pretitle {
            font-size: 12px;
            margin-bottom: 3px;
        }
        .fl-asst-title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        :last-child {
            margin: 0;
        }
    }

    .fl-asst-app-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 5px;

        .fl-asst-app-grid-item {
            box-sizing: border-box;
            flex: 0 0 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: var(--fl-asst-small-space);
            border-radius: var(--fluid-radius);
            min-height: 100px;

            &:hover {
                background: var(--fl-asst-secondary-surface-background);
            }

            .fl-asst-app-icon {
                width: 50px;
                height: 50px;
                border-radius: 7px;
                color: var(--fl-asst-accent-color);
                background-color: transparent;
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                display: flex;
                justify-content: center;
                align-items: center;
                transition-property: box-shadow;
                transition-duration: .25s;
            }

            label {
                font-size: 12px;
                margin-top: 5px;
                margin-bottom:0;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }
        }
    }

    .fl-asst-window-normal .fl-asst-app-grid .fl-asst-app-grid-item .fl-asst-app-icon {
        width: 60px;
        height: 60px;
	}
	.fl-asst-subscribe-wrap {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: var(--fl-asst-inner-space);
	}
	.fl-asst-subscribe svg {
		background: none;
    	margin: 0 auto;
    	display: block;
	}
}
