
.fl-asst-swipe-list {
    --fl-asst-swipe-list-item-count: 6;
    --fl-asst-swipe-list-gap: 5px;
    --fl-asst-swipe-list-padding: calc( var(--fl-asst-base-padding) - var(----fl-asst-swipe-list-gap) );

    margin:0;
    padding:0;
    list-style: none;
    max-width: 100%;

    display: grid;
    grid-gap: var(--fl-asst-swipe-list-gap);
    grid-template-columns: 25px repeat( var(--fl-asst-swipe-list-item-count), minmax(180px, 50%)) 25px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 30px 0 30px;

    overscroll-behavior: contain;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    &:before,
    &:after {
        content: ''
    }

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        scroll-snap-align: start;
        padding: 2px 0;
        -webkit-user-select:none;
        user-select: none;

        & > * {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            align-items: center;
            height: 100%;
            width: 100%;
            text-decoration: none;
            padding: 2px;
            margin:0;
            color: var(--fl-asst-light-color);
            background:var(--fl-asst-dark-color);
            border: 2px solid transparent;
            border-radius: 7px;
            line-height: 1.4;
            min-height: 48px;

            &:hover {
                color: var(--fl-asst-light-color);
                text-decoration: none;
            }

            &:focus {
                top:0;
                outline:none;
                color: var(--fl-asst-light-color);
                border: 2px solid var(--fl-asst-background-color);
                box-shadow: 0px 0px 0px 2px var(--fl-accent-color);
            }

            &:active {
                border: 2px solid var(--fl-asst-background-color);
            }

            &:visited {
                color: var(--fl-asst-light-color);
            }
        }

        &:nth-child(5n+1) > * {
            /* Blue */
            background-color: #007DAC;

            &:hover {
                background-color: #008DC3;
            }
        }
        &:nth-child(5n+2) > * {
            /* Green */
            background-color: #02C67A;

            &:hover {
                background-color: #00DD88;
            }
        }
        &:nth-child(5n+3) > * {
            /* Purple */
            background-color: #5713FE;

            &:hover {
                background-color: #6E32FF;
            }
        }
        &:nth-child(5n+4) > * {
            /* yellow */
            color: black;
            background-color: #FFC400;

            &:hover {
                background-color: #FFD137;
            }
        }
        &:nth-child(5n+5) > * {
            /* Red */
            background-color: #E01041;

            &:hover {
                background-color: #FF003C;
            }
        }
    }
}
