.fl-asst-feature-section.home-pro-community-section {
	p {
		text-align: center;
		font-size: 16px;
		padding: 10px 20px;
		color: black;
	}

	.fluid-color-scheme-dark & {
		.fluid-button-group {
			background: transparent;
		}
	}
}
