:root {
    // Dimensions
    --fl-asst-base-unit: 30px;
    --fl-asst-half-unit: calc( var( --fl-asst-base-unit ) / 2 );
    --fl-asst-base-padding: var(--fl-asst-base-unit);
    --fl-asst-normal-width: 460px;
    --fl-asst-toolbar-height: 48px;
    --fl-asst-base-border-radius: 7px;

    // Typograpy
    --fl-asst-base-text-size: 14px;
    --fl-asst-base-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    // Colors
    --fl-asst-dark-color: #65727E;
    --fl-asst-light-color: #ffffff;
    --fl-asst-background-color: var(--fl-asst-light-color);
    --fl-asst-line-color: rgba(140, 155, 172, 0.25);

    --fl-asst-text-color: #46525e;
    --fl-asst-title-color: #000000;
    --fl-asst-muted-text-color: #52646c;

    --fl-asst-base-art-color: #7A8998; // Icons and buttons at rest

    --fl-asst-utility-background-color: #EDF2F4; // Utility containers like partials
    --fl-asst-utility-button-color: #D3DFE4; // Buttons with a utility background color
    --fl-asst-utility-element-color: #D3DFE4; // Elements on a utility background color

    --fl-asst-overlay-background-color: #edf2f4c4;

    --fl-asst-accent-color: #2a9fcb;
    --fl-asst-success-color: #02C67A;
    --fl-asst-warning-color: #FF8911;
    --fl-asst-error-color: #E01041;
	--fl-asst-error-hover-color: #B00D33;

    --fl-asst-highlight-color: var(--fl-asst-accent-color);

    // Deprecated - These will be removed
    --fl-background-color: var(--fl-asst-background-color);
    --fl-line-color: var(--fl-asst-line-color);
    --fl-text-color: var(--fl-asst-text-color);
    --fl-title-color: var(--fl-asst-title-color);
    --fl-utility-background-color: var(--fl-asst-utility-background-color); // Utility containers like partials
    --fl-utility-button-color: var(--fl-asst-utility-button-color); // Buttons with a utility background color
    --fl-utility-element-color: var(--fl-asst-utility-element-color); // Elements on a utility background color
    --fl-accent-color: var(--fl-asst-accent-color);
    --fl-warning-color: var(--fl-asst-warning-color);
    --fl-error-color: var(--fl-asst-error-color);
	--fl-error-hover-color: var(--fl-asst-error-hover-color);
}

.fl-asst {
    box-sizing: border-box;
    font-family: var(--fl-asst-base-font-family);
    font-size: var(--fl-asst-base-text-size);
    line-height: 1.5;
    color: var(--fl-asst-text-color);

    & * {
        box-sizing: border-box;
    }

    hr {
        background-image: none;
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
            color: var(--fl-asst-accent-color);
        }
    }

    .fl-asst-panel-wrap {
        position: absolute;
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: column;
        background: var(--fl-asst-background-color);
    }

    .fl-asst-panel-contents {
        flex: 1 1 auto;
        color: var(--fl-asst-text-color);
        display: flex;
        flex-direction: column;
        position: relative;
        background: var(--fl-asst-background-color);
        overflow: hidden;
    }

    .fl-asst-panel-chrome {
        flex: 0 0 var(--fl-asst-toolbar-height);
        height: var(--fl-asst-toolbar-height);
        display:flex;
        flex-direction: row;
        position: relative;

        .fl-asst-button {
            margin: 0 2px;
        }

        .fl-asst-panel-chrome-area {
            flex: 1 1 50%;
            display: flex;
            flex-direction: row;
            padding: 4px 6px;

            button {
                min-width: 42px;
            }

            &:last-child {
                justify-content: flex-end;
            }
        }
    }

    .fl-asst-app-tabs-wrap {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        pointer-events: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .fl-asst-app-tabs-area {
        flex: .25 .25 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        pointer-events: auto;
        max-width: var(--fl-asst-normal-width);
        padding: 4px 0;
    }
}

.fl-builder-edit {

	.fl-asst {
		display: none;
	}
}
